<!doctype html>
<html lang="ar">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
  <meta content="Themesbrand" name="author" />
  <!-- App favicon -->
  <link rel="shortcut icon" href="/assets/Images/sample-terms-and-conditions-template-update.webp">
  <%- include('./partials/CssTags') %>
  <%- HeaderCss %>
  <!-- Style CSS -->
  <link rel="stylesheet" href="/assets/css/style.css">
  <title><%- title %></title>
</head>

<body>

  <!-- Preloader(Loading) -->

  <!-- Preloader(Loading) -->

  <!-- Header -->
  <%- include('./partials/Header') %>
  <!-- Header -->
  
  <% if(user) { %>
  <!-- Header-auth -->
  <%- include('./partials/Header-auth') %>
  <!-- Header-auth -->
  <% }  %>


  <%- body %>


  <!-- Footer -->
  <%- include('./partials/Footer') %>
  <!-- Footer -->

  <%- include('./partials/ScriptTags') %>

  <%- FooterJs %>

  <script src="/assets/js/app.js"></script>

</body>

</html>