<%- contentFor('title') %>
منصة خدمات التأشيرات الإلكترونية - الرئيسية

<%- contentFor('HeaderCss') %>

<%- contentFor('body') %>
<!-- Requests Section -->
<section class="container-fluid settings py-5" id="settings" dir="rtl">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <%- include('./partials/alert') %>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="notify-user bg-light p-2 shadow-sm rounded-lg" style="border-right: 3px solid #F2F2F2">
                    <h4 class="settings-heading">عرض جميع الطلبات الخاصة بك</h4>
                    <p>في أي طلب تقوم بإرساله يتم تحويله إلى المسئول حتى تتم مراجعة الطلب الخاص بك ومن ثم يتم إرسال كود
                        رمزي إلى هاتفك قُم بإدخله بشكل صحيح حتى يتم تأكيد الطلب</p>
                </div>
            </div>
        </div>
        <div class="row">
            <% residents.forEach((resident, index) => { %>
            <div class="col-12 mt-3">
                <div class="request p-3 shadow-sm rounded-lg" id="requests"
                    style="background-color: #cafdd0; border-radius: 15px;">
                    <h5>
                        <span class="resident_number">الطلب رقم <%= index + 1 %></span>
                        [<span
                            class="resident_accepted"><%= resident.accepted === true? 'تمت الموافقة على الطلب' : 'لم تتم الموافقة على الطلب' %></span>]
                    </h5>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="right_content">
                                <p class="mb-0">لقد قُمنا بإرسال جميع بيانات الطلب الخاصة بك إلى المسئول حتى تتم مراجعة
                                    الطلب الخاصة بك. من فضلك إنتظر قليلًا حتى يتم إرسال كود رمزي إلى الهاتف الخاص بك
                                    <strong><%= resident.requestData.user_phonenumber %></strong></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="left_content mt-2 mt-md-0">
                                <button type="button" class="w-100 visit_request btn btn-primary btn-lg" id="visit_request" onclick="window.location.assign('/verification')" <%= resident.accepted === true? 'disabled' : '' %>>إدخال رمز الكود <i class="fas fa-sms"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center mt-2 mt-md-0">
                            <% if(resident.avatar !== "Image") { %>
                                <img class="border" src="<%= resident.avatar %>" title="avatar" alt="avatar" style="height: 150px; width: 300px; border-radius: 15px"/>
                            <% } %>
                           
                        </div>
                    </div>
                </div>
            </div>
            <% }) %>

        </div>
    </div>
</section>
<!-- Requests Section -->

<!-- Notification -->
<div class="notificationSuccess text-white shadow-lg p-3"></div>
<div class="notificationError text-white shadow-lg p-3"></div>
<!-- Notification -->


<%- contentFor('FooterJs') %>
<!-- Socket -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js" integrity="sha512-AcZyhRP/tbAEsXCCGlziPun5iFvcSUpEz2jKkx0blkYKbxU81F+iq8FURwPn1sYFeksJ+sDDrI5XujsqSobWdQ==" crossorigin="anonymous"></script>
<!-- Socket Real Time -->
<script src="/assets/js/RealTime.js"></script>