<!doctype html>
<html lang="ar">

<head>
    <%- include('./partials/CssTags') %>
    <!-- Style CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>منصة خدمات التأشيرات الإلكترونية - المؤقتة</title>
</head>

<body>

    <!-- Preloader(Loading) -->
    <%- include('./partials/Preloader') %>
    <!-- Preloader(Loading) -->

    <!-- Header -->
    <%- include('./partials/Header') %>
    <!-- Header -->

    <!-- Temp Content -->
    <div style="height: 200px; width: 100%; display: flex; justify-content: center; align-items: center; background-color: #F2F2F2">
        <h3>هذه صفحة مؤقتة</h3>
    </div>
    <!-- Temp Content -->

    <!-- Footer -->
    <%- include('./partials/Footer') %>
    <!-- Footer -->

    <%- include('./partials/ScriptTags') %>
    <script src="/assets/js/app.js"></script>
</body>

</html>