<!doctype html>
<html lang="ar">
    <head>
       <%- include('../partials/HeadTags.ejs') -%>
        <!-- RTL CSS -->
        <link rel="stylesheet" href="../assets/css/rtl.css">
    </head>

    <body>

        
        <!-- Start Preloader Area -->
        <%- include('../partials/Preloader'); -%>
        <!-- End Preloader Area -->
            

           <!-- Start Navbar Area -->
        <%- include('../partials/Arabic/Header'); -%>
        <!-- End Navbar Area -->

         <!-- Start About Area -->
         <section class="about-section container-fluid py-5" style="background-color: #fff7e1; margin-top: 82px" >
             <div class="container py-5">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 wow fadeInRight">
                        <div class="about-image">
                            <img src="assets/img/about/about-2.jpg" alt="image">
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 wow fadeInLeft">
						<div class="about-tab">
                            <h3 class="hvr-backward">عن شركة تاتكس</h3>
                          <p class="hvr-backward">شركة تاتكس هي شركة تقوم بتقديم أعمال خدمات كثيرة للمجتمع لكي تسهل عليه الحياة. هي شركة تقوم بعمل تطبيقات خاصة لها وتقوم بعمل تطبيقات للمستخدمين بجودة عالية لذلك ثق في تاتسك. ولمعرفة المزيد عن شركة تاتكس قم بزيادة الرابط التالي</p>

							<div class="tab about-list-tab">
								<ul class="tabs">
									<li>
										<a href="#">
											رؤيتنا
										</a>
									</li>
									<li>
										<a href="#">
											رسالتنا
										</a>
									</li>
									<li>
										<a href="#">
											ما يميزنا
										</a>
									</li>
                                </ul>
                                
								<div class="tab_content">
									<div class="tabs_item">
										<div class="text">
                                            <h3>ما هي رؤية تاتكس للمستقبل؟</h3>
                                        </div>

                                        <ul class="list">
                                            <li>
                                                <i class="flaticon-tick"></i>
                                                جعل بنية تحتية للشركة 
                                            </li>

                                            <li>
                                                <i class="flaticon-tick"></i>
                                               جعل إدارة قوية جدًا للشركة تقوم بالتخطيط
                                            </li>

                                            <li>
                                                <i class="flaticon-tick"></i>
                                               استهداف مبرمجين عالميين لإنجاز المشاريع بشكل احترافي
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="tabs_item">
										<div class="text">
                                            <h3>ما هي رسالة تاتكس للمستقبل؟</h3>
                                        </div>

                                        <ul class="list">
                                            <li>
                                                <i class="flaticon-tick"></i>
                                                تقديم مشاريع ذي أفكار قوية تخدم المجتمع
                                            </li>

                                            <li>
                                                <i class="flaticon-tick"></i>
                                               التسهيل على المجتمع بشكل قوي
                                            </li>

                                            <li>
                                                <i class="flaticon-tick"></i>
                                               حفر اسم تاتكس في المجتمع لكي يكون علامة مميزة في تسهيل الحياة
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="tabs_item">
										<div class="text">
                                            <h3>ما الذي يميز شركة تاتكس؟</h3>
                                        </div>

                                        <ul class="list">
                                            <li>
                                                <i class="flaticon-tick"></i>
                                                إدارة قوية جدًا وعالمية
                                            </li>

                                            <li>
                                                <i class="flaticon-tick"></i>
                                               تخطيط عالمي للمشاريع من الدرجة الأولى 
                                            </li>

                                            <li>
                                                <i class="flaticon-tick"></i>
                                              إنتاج المشاريع في أفضل صورة ممكنة
                                            </li>
                                        </ul>
                                    </div>
								</div>
							</div>
						</div>
					</div>
                </div>
            </div>
         </section>
        <!-- End About Area -->
        
        
       
       <!-- Start Footer -->
       <%- include('../partials/Arabic/Footer'); -%>
       <!-- End Footer -->

        <!-- Start Go Top Section -->
        <div class="go-top">
            <i class="bx bx-chevron-up"></i>
            <i class="bx bx-chevron-up"></i>
        </div>
        <!-- End Go Top Section -->

         <!-- Start Live Chat Support -->
         <%- include('../partials/Arabic/LiveChatSupport') -%>
         <!-- Start Live Chat Support -->

        <%- include('../partials/ScriptTags.ejs') -%>
    </body>
</html>

       