<!doctype html>
<html lang="ar">
    <head>
        <%- include('../partials/HeadTags.ejs') -%>
        <!-- RTL CSS -->
        <link rel="stylesheet" href="../assets/css/rtl.css">
    </head>

    <body>

        
        <!-- Start Preloader Area -->
        <%- include('../partials/Preloader'); -%>
        <!-- End Preloader Area -->
            

         <!-- Start Navbar Area -->
        <%- include('../partials/Arabic/Header'); -%>
        <!-- End Navbar Area -->

        <!-- Start Apps Page -->
        <section class="apps-section container-fluid py-5" style="background-color: #fff7e1; margin-top: 82px">
            <div class="container">
                <div class="row">
                    <div class="col-12 m-auto wow fadeInRight">
                        <div class="section-head text-center">
                            <h2 class="hvr-backward">تطبيقات صممتها تاتكس</h2>
                            <p class="hvr-backward">هناك الكثير من التطبيقات التي صممتها تاتكس وكل تطبيق من تلك التطبيقات يتميز بالدقة والجودة والاحترافية قم بزيارة التطبيق الذي تراه أفضل لك في الاستخدام وتسهيل الحياة عليك وقم بتحميله من Google Play أو من Apple Store ويمكنك متابعة الـ الاصدارات الخاصة بكل تطبيق والأسئلة الشائعة حول التطبيق</p>
                        </div>
                    </div>
                </div>
                <div class="row wow fadeInUp">
                      <% apps.forEach((app) => { %>
                          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 mt-3">
                          <div class="page-app hvr-bob">
                              <div class="icon">
                                  <img src="/assets/img/apps/<%= app.app_avatar %>" alt="">
                              </div>
                              <div class="app-content-app">
                                  <h5 class="title"><%= app.app_name %></h5>
                                  <ul class="stars mt-1">
                                      <% for(let i = 0; i < app.app_stars; i++) { %>
                                          <li><i class="fa fa-star active"></i></li>
                                      <% } %>
                                      <% for(let i = 0; i < 5 - app.app_stars; i++) { %>
                                          <li><i class="fa fa-star"></i></li>
                                      <% } %>
                                      <li>(144)</li>
                                  </ul>
                                  <div class="text">
                                    كن لا بد أن أوضح لك أن كل هذه الأفكار المغلوطة حول استنكار  النشوة وتمجيد الألم نشأت بالفعل
                                  </div>
                                  <div class="forAppComponent d-flex mt-2">
                                      <a href="/apps/<%= app._id %>" target="_blank" class="btn btn-danger btn-sm" style="background-color: rgb(248, 52, 71)">زيارة التطبيق <i class="fas fa-arrow-left"></i> </a>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <% }) %>
                  </div>
              </div>
        </section> 
      <!-- End Apps Page -->
        
       
        <!-- Start Footer -->
        <%- include('../partials/Arabic/Footer'); -%>
        <!-- End Footer -->

         <!-- Start Go Top Section -->
         <div class="go-top">
            <i class="bx bx-chevron-up"></i>
            <i class="bx bx-chevron-up"></i>
        </div>
        <!-- End Go Top Section -->

         <!-- Start Live Chat Support -->
         <%- include('../partials/Arabic/LiveChatSupport') -%>
         <!-- Start Live Chat Support -->

        <%- include('../partials/ScriptTags.ejs') -%>
    </body>
</html>