<!doctype html>
<html lang="ar">
    <head>
        <%- include('../partials/HeadTags.ejs') -%>
        <!-- RTL CSS -->
        <link rel="stylesheet" href="../assets/css/rtl.css">
    </head>

    <body>

       
        <!-- Start Preloader Area -->
        <%- include('../partials/Preloader'); -%>
        <!-- End Preloader Area -->

        <%- include('../partials/Arabic/Header'); -%>
        <!-- End Navbar Area -->
        
        <!-- Start Faq Area -->
        <section class="faq-section container-fluid py-5" style="margin-top: 82px">
            <div class="container">
                <div class="row wow fadeInRight">
                    <div class="col-12">
                        <div class="section-title">
                            <h3>أسئلة متكررة</h3>
                            <p style="font-size: 15px; color: #555; margin-top: 8px">لكن لا بد أن أوضح لك أن كل هذه الأفكار المغلوطة حول استنكار  النشوة وتمجيد الألم نشأت بالفعل، وسأعرض لك التفاصيل لتكتشف حقيقة وأساس تلك السعادة البشرية، فلا أحد يرفض أو يكره أو يتجنب الشعور بالسعادة، ولكن بفضل هؤلاء الأشخاص الذين لا يدركون بأن السعادة لا بد أن نستشعرها بصورة أكثر عقلانية ومنطقية فيعرضهم هذا لمواجهة الظروف الأليمة</p>
                        </div>
                    </div>
                </div>

                <div class="row mt-3 align-items-center">
                    <div class="col-lg-6 wow fadeInRight">
                        <div class="faq-accordion">
                            <ul class="accordion">
                                <li class="accordion-item">
                                    <a class="accordion-title active" href="javascript:void(0)">
                                        <i class='bx bx-chevron-down'></i>
                                        ما طريقة الوصول المسموحة لدي في الخطة المجانية؟
                                    </a>
                            
                                    <div class="accordion-content">
                                       <p>لكن لا بد أن أوضح لك أن كل هذه الأفكار المغلوطة حول استنكار  النشوة وتمجيد الألم نشأت بالفعل</p>
                                    </div>
                                </li>

                                <li class="accordion-item">
                                    <a class="accordion-title active" href="javascript:void(0)">
                                        <i class='bx bx-chevron-down'></i>
                                        ما طريقة الوصول المسموحة لدي في الخطة المجانية؟
                                    </a>
                            
                                    <div class="accordion-content">
                                       <p>لكن لا بد أن أوضح لك أن كل هذه الأفكار المغلوطة حول استنكار  النشوة وتمجيد الألم نشأت بالفعل</p>
                                    </div>
                                </li>

                                <li class="accordion-item">
                                    <a class="accordion-title active" href="javascript:void(0)">
                                        <i class='bx bx-chevron-down'></i>
                                        ما طريقة الوصول المسموحة لدي في الخطة المجانية؟
                                    </a>
                            
                                    <div class="accordion-content">
                                       <p>لكن لا بد أن أوضح لك أن كل هذه الأفكار المغلوطة حول استنكار  النشوة وتمجيد الألم نشأت بالفعل</p>
                                    </div>
                                </li>

                                <li class="accordion-item">
                                    <a class="accordion-title active" href="javascript:void(0)">
                                        <i class='bx bx-chevron-down'></i>
                                        ما طريقة الوصول المسموحة لدي في الخطة المجانية؟
                                    </a>
                            
                                    <div class="accordion-content">
                                       <p>لكن لا بد أن أوضح لك أن كل هذه الأفكار المغلوطة حول استنكار  النشوة وتمجيد الألم نشأت بالفعل</p>
                                    </div>
                                </li>

                                <li class="accordion-item">
                                    <a class="accordion-title active" href="javascript:void(0)">
                                        <i class='bx bx-chevron-down'></i>
                                        ما طريقة الوصول المسموحة لدي في الخطة المجانية؟
                                    </a>
                            
                                    <div class="accordion-content">
                                       <p>لكن لا بد أن أوضح لك أن كل هذه الأفكار المغلوطة حول استنكار  النشوة وتمجيد الألم نشأت بالفعل</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-6 wow fadeInLeft">
                        <div class="faq-image">
                            <img src="/assets/Images/istockphoto-1152863036-1024x1024.jpg" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Faq Area -->


         <!-- Start Footer -->
         <%- include('../partials/Arabic/Footer') -%>
         <!-- End Footer -->
    
        <!-- Start Go Top Section -->
        <div class="go-top">
            <i class="bx bx-chevron-up"></i>
            <i class="bx bx-chevron-up"></i>
        </div>
        <!-- End Go Top Section -->

         <!-- Start Live Chat Support -->
         <%- include('../partials/Arabic/LiveChatSupport') -%>
         <!-- Start Live Chat Support -->

        <%- include('../partials/ScriptTags.ejs') -%>
    </body>
</html>