<!doctype html>
<html lang="ar">
    <head>
        <%- include('../partials/HeadTags.ejs') -%>
         <!-- RTL CSS -->
         <link rel="stylesheet" href="../assets/css/rtl.css">
    </head>

    <body>

        
        <!-- Start Preloader Area -->
        <%- include('../partials/Preloader'); -%>
        <!-- End Preloader Area -->

        <!-- Start Navbar Area -->
        <%- include('../partials/Arabic/Header'); -%>
        <!-- End Navbar Area -->

         <!-- Start Carousel Area -->
    <div id="carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active">
                <div class="indicatorContent text-center text-white">
                    <div class="forIcon" style="font-size: 25px">
                        <i class="fa fa-bicycle"></i>
                    </div>
                    <div class="forTopic">
                        <span class="desc">تاتكس</span>
                    </div>
                </div>
            </li>
            <li data-target="#carousel" data-slide-to="1">
                <div class="indicatorContent text-center text-white">
                    <div class="forIcon" style="font-size: 25px">
                        <i class="fa fa-bicycle"></i>
                    </div>
                    <div class="forTopic">
                        <span class="desc">الجودة</span>
                    </div>
                </div>
            </li>
            <li data-target="#carousel" data-slide-to="2">
                <div class="indicatorContent text-center text-white">
                    <div class="forIcon" style="font-size: 25px">
                        <i class="fa fa-bicycle"></i>
                    </div>
                    <div class="forTopic">
                        <span class="desc">توصيل</span>
                    </div>
                </div>
            </li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="overlay"></div>
                <img class="d-block w-100" src="/assets/Images/Delivery/2.jpg" alt="First slide">
                <div class="carousel-caption">
                    <h5 class="text-white">تاتكس دائمًا معك</h5>
                    <p class="text-light">تاتاكس دائمًا معك هو شعار لنا يجذب كل مستخدم وهذا المعنى لن يجعلك تشعر وحيدًا مع تاتكس. كن واثقًا فينا بأننا نسعى دائمًا لخدمتك وتسهيل المتاعب التي تقابلك كن مع تاتكس</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="overlay"></div>
                <img class="d-block w-100" src="/assets/Images/Delivery/3.jpg" alt="Second slide">
                <div class="carousel-caption">
                    <h5 class="text-white">الجودة</h5>
                    <p class="text-light">تاتكس لديها جودة عالية في عمل التطبيقات وهي تجعل التطبيقات ذا جودة عالية جدًا. التطبيق يكن ممتازًا وذلك لأن شركة تتاكس تخطط وتصمم وتدير وتخرج الكود بشكل نظيف منسق مميز وهذا ما يجعل تاتكس في القمة </p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="overlay"></div>
                <img class="d-block w-100" src="/assets/Images/Delivery/4.jpg" alt="Third slide">
                <div class="carousel-caption">
                    <h5 class="text-white">تطبيق الوصيل</h5>
                    <p class="text-white">تاتكس لديها تطبيق توصل محترف. يمكنك طلب أي شئ من محل ونحن سوف نصل إلى ذلك المحل لجلب المشتريات التي تريدها فورًا. هذا التطبيق سوف يسهل عليك وكما قلنا لك تاتكس دائمًا معك</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">السابق</span>
        </a>
        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!-- End Carousel Area -->

          <!-- Sart Intro for Tatx Area -->
          <section class="tatx-intro container-fluid py-5" id="counters">
            <div class="container py-5">
                <div class="row">
                    <div class="order-2 col-md-6 col-12 mt-5 mt-md-0 wow fadeInRight">
                        <div class="half-img hvr-bob">
                            <img alt="vector" src="/assets/img/Partner/client/vector-art-3.png">
                        </div>
                    </div>
                    <div class="order-1 order-md-3 col-md-6 col-12 wow fadeInLeft">
                        <div class="heading-area">
                            <span class="sub-title text-muted hvr-forward animated pulse infinite">تاتكس دائمًا معك</span>
                            <h2 class="title text-muted hvr-backward">نحن نقوم بعمل أعمال عظيمة</h2>
                            <p class="para text-muted hvr-backward">شركة تاتكس هي شركة خدمات تهدف إلى تقديم خدمات تساعد الناس في كل المجالات وتجعل المجتمع سهلًا</p>
                        </div>
                        <ul class="counter-list list-unstyled">
                            <li class="counter-item hvr-pulse-shrink">
                                <i aria-hidden="true" class="fas fa-users text-muted"></i>
                                <h6 class="counter-number text-muted"><span class="count">500</span>+</h6>
                                <p class="sub-title text-muted">شركاء سعداء</p>
                            </li>
                            <li class="counter-item hvr-pulse-shrink">
                                <i aria-hidden="true" class="fas fa-list-alt text-muted"></i>
                                <h6 class="counter-number text-muted"><span class="count">1074</span>+</h6>
                                <p class="sub-title text-muted">أسطر من الكود</p>
                            </li>
                            <li class="counter-item hvr-pulse-shrink">
                                <i aria-hidden="true" class="fas fa-award text-muted"></i>
                                <h6 class="counter-number text-muted"><span class="count">600</span>+</h6>
                                <p class="sub-title text-muted">مشاريع كاملة</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Intro for Tatx Area -->

          <!-- Start Features Area -->
          <section id="features-section" class="features-section container-fluid py-5">
            <div class="container">
                <div class="row wow fadeInLeft">
                    <div class="col-12">
                        <div class="section-title text-center">
                            <h2 class="hvr-backward">مميزات تقدمها تاتكس</h2>
                            <p class="hvr-backward">هناك الكثير من المزايا التي تقدمها شركة التطبيقات العالمية تاتكس وهي أن تقدم تطبيقات كتطبيق توصيل الطلبات السريع للتسهيل على العملاء وهذا نموذج بسيط على أن تاتكس تجعل العالم سهلًا وهي دائمًا معك</p>
                            <div class="bar"></div>
                        </div>
                    </div>
                </div>

                <div class="row wow fadeInUp mt-4">
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="features-content text-center hvr-grow-shadow">
                            <div class="icon">
                                <i class="flaticon-clock"></i>
                            </div>
                            <h3>الاحترافية</h3>
                            <p>الاحترافية هي جزء أساسي مهم من تاتكس حيث تُخرج المُنتج في أفضل شكل ممكن</p>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 mt-3 mt-md-0">
                        <div class="features-content text-center hvr-grow-shadow">
                            <div class="icon">
                                <i class="flaticon-blueprint"></i>
                            </div>
                            <h3>الخبرة</h3>
                            <p>الخبرة هي جزء أساسي مهم من تاتتكس حيث قضيت الشركة سنين في العمل</p>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-3 col-md-6 mt-3 mt-lg-0 col-sm-12 col-12">
                        <div class="features-content text-center hvr-grow-shadow">
                            <div class="icon left-icon">
                                <i class="flaticon-security"></i>
                            </div>
                            <h3>فريق متكامل</h3>
                            <p>الفريق المتكامل جزء أساسي من تاتكس حيث هناك فريق متكامل متعاون في المشروع</p>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-3 col-md-6 mt-3 mt-lg-0 col-sm-12 col-12">
                        <div class="features-content text-center hvr-grow-shadow">
                            <div class="icon">
                                <i class="flaticon-update"></i>
                            </div>
                            <h3>حلول ذكية</h3>
                            <p>لدى شركة تاتكس حلول ذكية وسريعة إذا قابلتها مشكلة في المرحلة التشغيلية</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Features Area -->

        
       <!-- Start Services Area -->
       <section class="services-section bg-color py-5">
        <div class="container">
            <div class="row wow fadeInLeft">
                <div class="col-12">
                    <div class="section-title">
                        <h2 class="hvr-backward">خدمات تاتكس</h2>
                        <p class="hvr-backward">هناك الكثير من الخدمات التي تقدمها تاتكس في برمجة الويب حيث تنشئ مواقع متكاملة وتقوم بنصاعة الجرافيكس لكل من المواقع والهواتف وتعمل على إنشاء الفيديوهات بشكل إحترافي وتقني</p>
                        <div class="bar"></div>
                    </div>
                </div>
            </div>
            <div class="row mt-4 wow fadeInUp"">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                    <div class="single-services">
                        <div class="icon">
                            <i class="flaticon-cellphone"></i>
                        </div>
                        <h3>برمجة الويب</h3>
                        <p>برمجة الويب هو أننا نقوم بعمل تطبيق على الويب يعمل بجودة عالية من حيث التصميم والبرمجة </p>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-12 mt-3 mt-lg-0 col-sm-12 col-12">
                    <div class="single-services">
                        <div class="icon">
                            <i class="flaticon-shopping-cart"></i>
                        </div>
                        <h3>تصميم الجرافيكس</h3>
                        <p>تصميم الجرافيكس هو أننا نقوم بعمل تصميمات بشكل احترافي للهواتف والمواقع ونكون واثقين فيها</p>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-12 mt-3 mt-lg-0 col-sm-12 col-12">
                    <div class="single-services">
                        <div class="icon">
                            <i class="flaticon-optimize"></i>
                        </div>
                        <h3>العمل على الفيديو</h3>
                        <p>العمل على الفيديو هو أننا نقوم بإنشاء فيديوهات عالية الجودة وبشكل مُحترف جدًا من قبل محترفين في صناعة الفيديو</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="default-shape">
            <div class="shape-1">
                <img src="assets/img/shape/4.png" alt="image">
            </div>

            <div class="shape-2 rotateme">
                <img src="assets/img/shape/5.svg" alt="image">
            </div>

            <div class="shape-3">
                <img src="assets/img/shape/6.svg" alt="image">
            </div>

            <div class="shape-4">
                <img src="assets/img/shape/7.png" alt="image">
            </div>

            <div class="shape-5">
                <img src="assets/img/shape/8.png" alt="image">
            </div>
        </div>

        <div class="services-shape">
            <img src="assets/img/cloud.png" alt="image">
        </div>
    </section>
    <!-- End Services Area -->

       
           <!-- Start Media Area -->
           <section class="blog-section container-fluid py-5 bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="owl-carousel owl-theme">
                            <div class="item"><h4>1</h4></div>
                            <div class="item"><h4>2</h4></div>
                            <div class="item"><h4>3</h4></div>
                            <div class="item"><h4>4</h4></div>
                            <div class="item"><h4>5</h4></div>
                            <div class="item"><h4>6</h4></div>
                            <div class="item"><h4>7</h4></div>
                            <div class="item"><h4>8</h4></div>
                            <div class="item"><h4>9</h4></div>
                            <div class="item"><h4>10</h4></div>
                            <div class="item"><h4>11</h4></div>
                            <div class="item"><h4>12</h4></div>
                        </div>
                    </div>
                </div>

                <div class="section-title">
                    <h2 class="hvr-backward"><span>آخر</span> أخبارنا</h2>
                    <p class="hvr-backward">آخر أخبارنا هي جزء مهم جدًا من شركة تاتكس لكي يعلم المستخدم كل خبر جديد وأخبارنا تتضمن كل ما ننجزه بداخل الشركة من مشاريع وغيره فلا تنس متابعة أخبارنا بشكل يومي لأن هنا كل ما يشوقك</p>
                    <div class="bar"></div>
                </div>

                <div class="row">
                    <% news.forEach((myNew, index) => { %>
                        <div class="col-lg-4 col-md-6 col-12 mt-4">
                            <div class="single-blog">
                                <div class="content">
                                    <div class="image mb-2"> 
                                        <img src="/assets/img/apps/<%= myNew.newImage %>" alt="image">
                                    </div>
                                    <span><%= moment(myNew.createdAt).format('MMMM Do YYYY') %></span>
                                    <h3><%= myNew.newHeading %></h3>
                                    <p><%= myNew.newContent.split(' ').slice(0, 15).join(' ') %>...</p>
                                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#readMore<%= index + 1 %>">
                                        قراءة المزيد
                                    </button>
                                    <div class="modal fade" id="readMore<%= index + 1 %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-scrollable" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title"><%= myNew.newHeading %></h5>
                                            </div>
                                            <div class="modal-body">
                                                <p><%= myNew.newContent %></p>
                                                <span><%= moment(myNew.createdAt).format('MMMM Do YYYY') %></span>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">غلق</button>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
        </section>
        <!-- End Media Area -->

         <!-- Start Footer -->
         <%- include('../partials/Arabic/Footer') -%>
         <!-- End Footer -->
         
        
        <!-- Start Go Top Section -->
        <div class="go-top">
            <i class="bx bx-chevron-up"></i>
            <i class="bx bx-chevron-up"></i>
        </div>
        <!-- End Go Top Section -->

         <!-- Start Live Chat Support -->
             <%- include('../partials/Arabic/LiveChatSupport') -%>
        <!-- Start Live Chat Support -->    

        <%- include('../partials/ScriptTags.ejs') -%>

    </body>
</html>