<!doctype html>
<html lang="ar">
    <head>
        <%- include('../partials/HeadTags.ejs') -%>
         <!-- RTL CSS -->
         <link rel="stylesheet" href="../assets/css/rtl.css">
    </head>

    <body>

       
        <!-- Start Preloader Area -->
        <%- include('../partials/Preloader'); -%>
        <!-- End Preloader Area -->

           <!-- Start Navbar Area -->
        <%- include('../partials/Arabic/Header'); -%>
        <!-- End Navbar Area -->

        <!-- Start Intro Partner Area -->
        <section class="intro-partner container-fluid py-5" style="margin-top: 82px">
            <div class="overlay-intro-partner"></div>
            <div class="container py-3">
                <div class="row">
                    <div class="col-lg-5 col-md-7 col-12 wow fadeInRight">
                        <div class="left-content bg-white shadow-lg p-3 rounded-lg" style="border-radius: 8px">
                            <h3 class="text-center" style="color: rgb(240, 59, 77)">إنضم إلينا الآن</h3>
                            <form class="partner mt-1 p-2" id="partner" action="/partner" method="POST">
                                <div class="f-partner mb-3">
                                    <input class="f-input-partner" type="text" id="fullname" name="fullname" placeholder="اكتب الاسم كاملًا"/>
                                </div>
                                <div class="f-partner mb-3">
                                    <input class="f-input-partner" type="text" id="phone" name="phone" placeholder="اكتب رقم هاتفك"/>
                                </div>
                                <div class="f-partner mb-3">
                                    <input class="f-input-partner" type="email" id="email" name="email" placeholder="اكتب بريدك الإلكتروني"/>
                                </div>
                                <div class="f-partner mb-3">
                                    <input class="f-input-partner" type="text" id="store-name" name="store-name" placeholder="اكتب اسم مخزنك"/>
                                </div>
                                <div class="f-partner mb-3">
                                    <input class="f-input-partner" type="url" id="store-url" name="store-url" placeholder="ربط للموقع"/>
                                </div>
                                <div class="f-partner mb-3">
                                    <select name="verticalType" style="width: 100%">
                                        <option value="" selected="">اختر النوع</option>
                                        <option value="restaurant">مطعم</option>
                                        <option value="grocery">بقالة</option>
                                        <option value="pharmacy">صيدلية</option>
                                        <option value="flower">محل زهور</option><option value="other">أخرى</option>
                                    </select>
                                </div>
                                <div class="f-partner">
                                    <button type="submit" id="partner" class="btn btn-danger">Partner</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-5 col-12 mt-3 mt-md-0 d-md-flex align-items-md-center wow fadeInLeft">
                        <div class="right-content">
                            <h1 class="text-white" style="font-size: 52px">كن شريكًا مع تاتكس</h1>
                            <p style="font-size:43px; color: #f7f7f7">وصل لعملاء كُثر تحصل على مبيعات أكثر</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Start Intro Partner Area -->
        
        <!-- Start Intro Partner Area -->
        <section class="introA-section container-fluid py-5 bg-white">
            <div class="container py-5">
                <div class="row">
                    <div class="col-md-10 mx-md-auto col-12">
                        <div class="intro text-center">
                            <h1>فوائد كونك شريكًا لتاتكس</h1>
                            <p>لكن لا بد أن أوضح لك أن كل هذه الأفكار المغلوطة حول استنكار  النشوة وتمجيد الألم نشأت بالفعل، </p>
                        </div>
                    </div>
                </div>
                <div class="row mt-3 wow fadeInUp">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-12">
                        <div class="features-content text-center hvr-grow-shadow">
                            <div class="icon">
                                <i class="flaticon-blueprint"></i>
                            </div>
                            <h3>شئ مميز</h3>
                            <p>لكن لا بد أن أوضح لك أن كل هذه الأفكار المغلوطة حول استنكار  النشوة وتمجيد الألم نشأت بالفعل، </p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-12 mt-3 mt-md-0">
                        <div class="features-content text-center hvr-grow-shadow">
                            <div class="icon">
                                <i class="flaticon-blueprint"></i>
                            </div>
                            <h3>شئ مميز</h3>
                            <p>لكن لا بد أن أوضح لك أن كل هذه الأفكار المغلوطة حول استنكار  النشوة وتمجيد الألم نشأت بالفعل، </p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-12 mt-3 mt-md-0">
                        <div class="features-content text-center hvr-grow-shadow">
                            <div class="icon">
                                <i class="flaticon-blueprint"></i>
                            </div>
                            <h3>شئ مميز</h3>
                            <p>لكن لا بد أن أوضح لك أن كل هذه الأفكار المغلوطة حول استنكار  النشوة وتمجيد الألم نشأت بالفعل، </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Start Intro Partner Area -->

        <section class="gradient-bg1 text-center" id="clients" style="direction: ltr">
            <div class="container">
        
                <!--Row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="heading-area mx-570">
                            <h2>بعض العبارات المثالية من شركائنا</h2>
                        </div>
                    </div>
                </div>
        
                <!--Row-->
                <div class="row mt-2 ">
                    <div class="col-md-6 col-12 mx-auto">
                        <div class="owl-carousel wow zoomIn owl-loaded owl-drag" id="testimonial-slider" >
                            
                        <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-5840px, 0px, 0px); transition: all 0.25s ease 0s; width: 11680px;"><div class="owl-item cloned" style="width: 730px;"><div class="item">
                                <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt
                                    egestas nunc, at pellentesque arcu sollicitudin et. Aliquam hendrerit diam quis ipsum
                                    ultricies, quis ultricies arcu suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit. Fusce ut diam quis nulla faucibus venenatis. </p>
                                <h5 class="name gradient-text1">David Villas</h5>
                                <span class="designation">Designer, Company Name</span>
                                <ul class="ratings list-unstyled">
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                </ul>
                            </div></div><div class="owl-item cloned" style="width: 730px;"><div class="item">
                                <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt
                                    egestas nunc, at pellentesque arcu sollicitudin et. Aliquam hendrerit diam quis ipsum
                                    ultricies, quis ultricies arcu suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit. Fusce ut diam quis nulla faucibus venenatis. </p>
                                <h5 class="name gradient-text1">David Villas</h5>
                                <span class="designation">Designer, Company Name</span>
                                <ul class="ratings list-unstyled">
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                </ul>
                            </div></div><div class="owl-item cloned" style="width: 730px;"><div class="item">
                                <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt
                                    egestas nunc, at pellentesque arcu sollicitudin et. Aliquam hendrerit diam quis ipsum
                                    ultricies, quis ultricies arcu suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit. Fusce ut diam quis nulla faucibus venenatis. </p>
                                <h5 class="name gradient-text1">David Villas</h5>
                                <span class="designation">Designer, Company Name</span>
                                <ul class="ratings list-unstyled">
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                </ul>
                            </div></div><div class="owl-item cloned" style="width: 730px;"><div class="item">
                                <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt
                                    egestas nunc, at pellentesque arcu sollicitudin et. Aliquam hendrerit diam quis ipsum
                                    ultricies, quis ultricies arcu suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit. Fusce ut diam quis nulla faucibus venenatis. </p>
                                <h5 class="name gradient-text1">David Villas</h5>
                                <span class="designation">Designer, Company Name</span>
                                <ul class="ratings list-unstyled">
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                </ul>
                            </div></div><div class="owl-item" style="width: 730px;"><div class="item">
                                <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt
                                    egestas nunc, at pellentesque arcu sollicitudin et. Aliquam hendrerit diam quis ipsum
                                    ultricies, quis ultricies arcu suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit. Fusce ut diam quis nulla faucibus venenatis. </p>
                                <h5 class="name gradient-text1">David Villas</h5>
                                <span class="designation">Designer, Company Name</span>
                                <ul class="ratings list-unstyled">
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                </ul>
                            </div></div><div class="owl-item" style="width: 730px;"><div class="item">
                                <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt
                                    egestas nunc, at pellentesque arcu sollicitudin et. Aliquam hendrerit diam quis ipsum
                                    ultricies, quis ultricies arcu suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit. Fusce ut diam quis nulla faucibus venenatis. </p>
                                <h5 class="name gradient-text1">David Villas</h5>
                                <span class="designation">Designer, Company Name</span>
                                <ul class="ratings list-unstyled">
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                </ul>
                            </div></div><div class="owl-item" style="width: 730px;"><div class="item">
                                <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt
                                    egestas nunc, at pellentesque arcu sollicitudin et. Aliquam hendrerit diam quis ipsum
                                    ultricies, quis ultricies arcu suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit. Fusce ut diam quis nulla faucibus venenatis. </p>
                                <h5 class="name gradient-text1">David Villas</h5>
                                <span class="designation">Designer, Company Name</span>
                                <ul class="ratings list-unstyled">
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                </ul>
                            </div></div><div class="owl-item" style="width: 730px;"><div class="item">
                                <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt
                                    egestas nunc, at pellentesque arcu sollicitudin et. Aliquam hendrerit diam quis ipsum
                                    ultricies, quis ultricies arcu suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit. Fusce ut diam quis nulla faucibus venenatis. </p>
                                <h5 class="name gradient-text1">David Villas</h5>
                                <span class="designation">Designer, Company Name</span>
                                <ul class="ratings list-unstyled">
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                </ul>
                            </div></div><div class="owl-item active" style="width: 730px;"><div class="item">
                                <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt
                                    egestas nunc, at pellentesque arcu sollicitudin et. Aliquam hendrerit diam quis ipsum
                                    ultricies, quis ultricies arcu suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit. Fusce ut diam quis nulla faucibus venenatis. </p>
                                <h5 class="name gradient-text1">David Villas</h5>
                                <span class="designation">Designer, Company Name</span>
                                <ul class="ratings list-unstyled">
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                </ul>
                            </div></div><div class="owl-item" style="width: 730px;"><div class="item">
                                <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt
                                    egestas nunc, at pellentesque arcu sollicitudin et. Aliquam hendrerit diam quis ipsum
                                    ultricies, quis ultricies arcu suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit. Fusce ut diam quis nulla faucibus venenatis. </p>
                                <h5 class="name gradient-text1">David Villas</h5>
                                <span class="designation">Designer, Company Name</span>
                                <ul class="ratings list-unstyled">
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                </ul>
                            </div></div><div class="owl-item" style="width: 730px;"><div class="item">
                                <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt
                                    egestas nunc, at pellentesque arcu sollicitudin et. Aliquam hendrerit diam quis ipsum
                                    ultricies, quis ultricies arcu suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit. Fusce ut diam quis nulla faucibus venenatis. </p>
                                <h5 class="name gradient-text1">David Villas</h5>
                                <span class="designation">Designer, Company Name</span>
                                <ul class="ratings list-unstyled">
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                </ul>
                            </div></div><div class="owl-item" style="width: 730px;"><div class="item">
                                <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt
                                    egestas nunc, at pellentesque arcu sollicitudin et. Aliquam hendrerit diam quis ipsum
                                    ultricies, quis ultricies arcu suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit. Fusce ut diam quis nulla faucibus venenatis. </p>
                                <h5 class="name gradient-text1">David Villas</h5>
                                <span class="designation">Designer, Company Name</span>
                                <ul class="ratings list-unstyled">
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                </ul>
                            </div></div><div class="owl-item cloned" style="width: 730px;"><div class="item">
                                <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt
                                    egestas nunc, at pellentesque arcu sollicitudin et. Aliquam hendrerit diam quis ipsum
                                    ultricies, quis ultricies arcu suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit. Fusce ut diam quis nulla faucibus venenatis. </p>
                                <h5 class="name gradient-text1">David Villas</h5>
                                <span class="designation">Designer, Company Name</span>
                                <ul class="ratings list-unstyled">
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                </ul>
                            </div></div><div class="owl-item cloned" style="width: 730px;"><div class="item">
                                <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt
                                    egestas nunc, at pellentesque arcu sollicitudin et. Aliquam hendrerit diam quis ipsum
                                    ultricies, quis ultricies arcu suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit. Fusce ut diam quis nulla faucibus venenatis. </p>
                                <h5 class="name gradient-text1">David Villas</h5>
                                <span class="designation">Designer, Company Name</span>
                                <ul class="ratings list-unstyled">
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                </ul>
                            </div></div><div class="owl-item cloned" style="width: 730px;"><div class="item">
                                <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt
                                    egestas nunc, at pellentesque arcu sollicitudin et. Aliquam hendrerit diam quis ipsum
                                    ultricies, quis ultricies arcu suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit. Fusce ut diam quis nulla faucibus venenatis. </p>
                                <h5 class="name gradient-text1">David Villas</h5>
                                <span class="designation">Designer, Company Name</span>
                                <ul class="ratings list-unstyled">
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                </ul>
                            </div></div><div class="owl-item cloned" style="width: 730px;"><div class="item">
                                <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt
                                    egestas nunc, at pellentesque arcu sollicitudin et. Aliquam hendrerit diam quis ipsum
                                    ultricies, quis ultricies arcu suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit. Fusce ut diam quis nulla faucibus venenatis. </p>
                                <h5 class="name gradient-text1">David Villas</h5>
                                <span class="designation">Designer, Company Name</span>
                                <ul class="ratings list-unstyled">
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                </ul>
                            </div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div></div>
                    </div>
                </div>
        
                <!--Testimonial Thumbs-->
                <div class="owl-dots d-none d-md-block" id="testimonials-avatar">
                    <!--data-position[top,right,bottom,left]-->
                    <button class="owl-dot" data-position="22%,auto,auto,5%" style="top: 22%; right: auto; bottom: auto; left: 5%;">
                        <img alt="image" src="/assets/img/Partner/client/avatar-1.png"></button>
                    <button class="owl-dot" data-position="30%,auto,auto,16%" style="top: 30%; right: auto; bottom: auto; left: 16%;">
                        <img alt="image" src="/assets/img/Partner/client/avatar-2.png"></button>
                    <button class="owl-dot" data-position="auto,auto,38%,7%" style="top: auto; right: auto; bottom: 38%; left: 7%;">
                        <img alt="image" src="/assets/img/Partner/client/avatar-3.png"></button>
                    <button class="owl-dot" data-position="auto,auto,23%,18%" style="top: auto; right: auto; bottom: 23%; left: 18%;">
                        <img alt="image" src="/assets/img/Partner/client/avatar-4.png"></button>
                    <!--data-position[top,right,bottom,left]-->
                    <button class="owl-dot active" data-position="20%,19%,auto,auto" style="top: 20%; right: 19%; bottom: auto; left: auto;">
                        <img alt="image" src="/assets/img/Partner/client/avatar-5.png"></button>
                    <button class="owl-dot" data-position="28%,6%,auto,auto" style="top: 28%; right: 6%; bottom: auto; left: auto;">
                        <img alt="image" src="/assets/img/Partner/client/avatar-6.png"></button>
                    <button class="owl-dot" data-position="40%,15%,auto,auto" style="top: 40%; right: 15%; bottom: auto; left: auto;">
                        <img alt="image" src="/assets/img/Partner/client/avatar-4.png"></button>
                    <button class="owl-dot" data-position="auto,21%,22%,auto" style="top: auto; right: 21%; bottom: 22%; left: auto;">
                        <img alt="image" src="/assets/img/Partner/client/avatar-3.png"></button>
                </div>
            </div>
        </section>

          <!-- Benefits of our own delivery -->
          <section class="introA-section container-fluid py-5 bg-white">
            <div class="container py-5">
                <div class="row wow fadeInLeft">
                    <div class="col-md-10 mx-md-auto col-12">
                        <div class="intro text-center">
                            <h1>فوائد توصيل الطلبات </h1>
                            <p style="font-size: 20px; color: #555">لكن لا بد أن أوضح لك أن كل هذه الأفكار المغلوطة حول استنكار  النشوة وتمجيد الألم نشأت بالفعل،  لكن لا بد أن أوضح لك أن كل هذه الأفكار المغلوطة حول استنكار  النشوة وتمجيد الألم نشأت بالفعل، </p>
                        </div>
                    </div>
                </div>
                <div class="row mt-3 wow fadeInUp">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-12">
                        <div class="delivery-benefit hvr-bob">
                            <div class="top-delivery-content">
                                <img src="/assets/img/Partner/client/vector-art-3.png"/>
                            </div>
                            <div class="bottom-delivery-content mt-3 text-center">
                                <h3>شئ مميز</h3>
                                <p>لكن لا بد أن أوضح لك أن كل هذه الأفكار المغلوطة حول استنكار  النشوة وتمجيد الألم نشأت بالفعل، </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-12 mt-3 mt-md-0">
                        <div class="delivery-benefit hvr-bob">
                            <div class="top-delivery-content">
                                <img src="/assets/img/Partner/client/vector-art-3.png"/>
                            </div>
                            <div class="bottom-delivery-content mt-3 text-center">
                                <h3>شئ مميز</h3>
                                <p>لكن لا بد أن أوضح لك أن كل هذه الأفكار المغلوطة حول استنكار  النشوة وتمجيد الألم نشأت بالفعل، </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-12 mt-3 mt-md-0">
                        <div class="delivery-benefit hvr-bob">
                            <div class="top-delivery-content">
                                <img src="/assets/img/Partner/client/vector-art-3.png"/>
                            </div>
                            <div class="bottom-delivery-content mt-3 text-center">
                                <h3>شئ مميز</h3>
                                <p>لكن لا بد أن أوضح لك أن كل هذه الأفكار المغلوطة حول استنكار  النشوة وتمجيد الألم نشأت بالفعل، </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Benefits of our own delivery -->

         <!-- How Tatx Delivery works -->
         <section class="tatx-delivery-working container-fluid py-5" style="background-color: #f7f7f7">
            <div class="container py-5">
                <div class="row wow fadeInLeft">
                    <div class="col-md-10 mx-md-auto col-12">
                        <div class="intro text-center">
                            <h1>كيف تعمل تاتكس لتوصيل الطلبات؟</h1>
                            <p>لكن لا بد أن أوضح لك أن كل هذه الأفكار المغلوطة حول استنكار  النشوة وتمجيد الألم نشأت بالفعل، وسأعرض لك التفاصيل لتكتشف حقيقة وأساس تلك السعادة البشرية، فلا أحد يرفض أو يكره أو يتجنب الشعور بالسعادة</p>
                        </div>
                    </div>
                </div>
                <div class="row mt-3 wow fadeInUp">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-12">
                        <div class="delivery-benefit text-center hvr-bob bg-white p-3">
                            <div class="top-delivery-content">
                                <img src="/assets/img/HIK/order_placed.svg"/>
                            </div>
                            <div class="bottom-delivery-content mt-3">
                                <h3>إعداد المُنتج</h3>
                                <p>لكن لا بد أن أوضح لك أن كل هذه الأفكار المغلوطة حول استنكار  النشوة وتمجيد الألم نشأت بالفعل،</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-12 mt-3 mt-md-0">
                        <div class="delivery-benefit text-center hvr-bob bg-white p-3">
                            <div class="top-delivery-content">
                                <img src="/assets/img/HIK/prep.svg"/>
                            </div>
                            <div class="bottom-delivery-content mt-3">
                                <h3>إعداد</h3>
                                <p>لكن لا بد أن أوضح لك أن كل هذه الأفكار المغلوطة حول استنكار  النشوة وتمجيد الألم نشأت بالفعل،</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-12 mt-3 mt-md-0">
                        <div class="delivery-benefit text-center hvr-bob bg-white p-3">
                            <div class="top-delivery-content">
                                <img src="/assets/img/HIK/delivered.svg"/>
                            </div>
                            <div class="bottom-delivery-content mt-3">
                                <h3>توصيل</h3>
                                +<p>لكن لا بد أن أوضح لك أن كل هذه الأفكار المغلوطة حول استنكار  النشوة وتمجيد الألم نشأت بالفعل،</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- How Tatx Delivery works -->


        <!-- Ready to be partner with Tatx -->
        <section class="ready-partner container-fluid py-5">
            <div class="container">
                <div class="row wow fadeIn">
                    <div class="col-12">
                        <div class="intro text-center">
                            <h1>مستعد لكي تكون شريكًا مع تاتكس؟</h1>
                            <div class="text-center mt-3">
                                <button class="join-us btn btn-danger btn-lg">إنضم إلينا الآن</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Ready to be partner with Tatx -->

         <!-- Start Footer -->
         <%- include('../partials/Arabic/Footer') -%>
         <!-- End Footer -->
    
        <!-- Start Go Top Section -->
        <div class="go-top">
            <i class="bx bx-chevron-up"></i>
            <i class="bx bx-chevron-up"></i>
        </div>
        <!-- End Go Top Section -->

         <!-- Start Live Chat Support -->
         <%- include('../partials/Arabic/LiveChatSupport') -%>
         <!-- Start Live Chat Support -->

        <%- include('../partials/ScriptTags.ejs') -%>
    </body>
</html>