<!doctype html>
<html lang="ar">
    <head>
        <%- include('../partials/HeadTags.ejs') -%>
        <!-- RTL CSS -->
        <link rel="stylesheet" href="../assets/css/rtl.css">
    </head>

    <body>
        
        <!-- Start Preloader Area -->
        <%- include('../partials/Preloader'); -%>
        <!-- End Preloader Area -->

         <!-- Start Navbar Area -->
         <%- include('../partials/Arabic/Header'); -%>
         <!-- End Navbar Area -->

        <!-- Start Page Title Area -->
        <div class="page-title-area item-bg-1" style="margin-top: 82px">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="page-title-content">
                            <h2>سياسة الخصوصية</h2>
                            <ul>
                                <li><a href="/home">الرئيسية</a></li>
                                <li>سياسة الخصوصية</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Title Area -->
        
        <!-- Start Conditions Area -->
		<section class="conditions-section ptb-100">
			<div class="container">
                <p>استخدامك لتطبيق تاتكس وتقديمك معلوماتك الشخصية لنا هو بمثابة موافقة منك على البنود الواردة في
                    سياسة الخصوصية، بالإشارة إلى "الشركة" أو "نحن" فإنها تمثل شركة تاتكس والمسجلة في المملكة
                    العربية السعودية، أما "أنت" أو "المستخدم" فإنها تمثل أي شخص يقوم باستخدام تطبيق تاتكس. إن كنت
                    لا توافق على هذه البنود، فعليك التوقف عن استخدام التطبيق.
                </p>
                <section>
                    <h2>هل معلوماتك آمنة؟</h2>
                    <p>في حال تصفحك للمتجر، لن نقوم بجمع أي بيانات شخصية عنك إلا حين تقرر استخدام ا
                        لخدمة والانتفاع منها لا لغرض التصفح والاكتشاف فقط، وفي حال استخدامك للخدمة يجب أن تكون مطمئنًا
                        أنّا نبذل أقصى ما في وسعنا لحماية بياناتك الشخصية ومنع الوصول غير القانوني أو غير المصرح به لها
                        وحتى حمايتها من المعالجة والتغيير والفقدان. وعلى الرغم من اتخاذ إجراءات الحماية المتنوعة والعمل
                        على
                        تحسينها، لا يمكن لأي نظام أو تقنية أن تبقى في مأمن تام عن الأضرار، ولذلك إذا شعرت بأي ثغرة داخل
                        التطبيق،
                        يمكنك التواصل معنا للعمل على حل هذه المشكلة من خلال البريد الإلكتروني التالي help@nana.sa
                    </p>
                </section>
                <section>
                    <h2>كيف تتم عملية معالجة الدفع الإلكتروني داخل التطبيق؟</h2>
                    <p>
                        تاتكس يستخدم طرف ثالث موثوق لمعالجة عمليات الدفع الإلكتروني، وهذه العمليات لا ت
                        نطبق على الأشخاص الذين يقومون باختيار "الدفع عند الاستلام" خلال عملية التسوق، من الممكن أن
                        يقوم هذا الطرف الثالث بطلب معلومات خاصة ببطاقتك الائتمانية وربما يطلب منك الوصول لقائمة الاتصال
                        الخاصة بك.
                    </p>
                </section>

                <section>

                    <h2>هل نقوم بمشاركة بياناتك الشخصية مع أي أطراف أخرى؟</h2>
                    <p>
                        خصوصية مستخدمي تاتكس هي من أهم الأشياء التي نحاول حمايتها بكل الطرق الممكنة، حيث أننا لا
                        نقوم إطلاقًا ببيع أو مشاركة هذه البيانات ولا نقوم بالكشف عنها أو مشاركتها مع أي طرف ثالث لأي غرض
                        كان، والأهداف التي نقوم بجمع هذه البيانات لها هي أهداف إحصائية لا غير كأعداد المستخدمين وأماكن
                        انتفاعهم من الخدمة.
                    </p>
                </section>
                <section>
                    <h2>
                        ما هي الصلاحيات المطلوبة من المستخدم؟</h2>
                    <p>
                        الوصول إلى حالة الهاتف: حيث تم طلبها من طرف ثالث لاتمام عملية الدفع الإلكتروني داخل التطبيق
                        الوصول للكاميرا: حيث يتم الوصول إلى كاميرا الجوال الخاص بك للتسوق عبر مسح "الباركود" الخاص
                        بالمنتج, كما يمكنك إضافة أي منتج غير موجود من خلال تصويره بكاميرا الجوال الخاص بك
                        الوصول للحسابات الخاصة للمستخدمين: وذلك للعمل على تخصيص تجربة المستخدم
                        الوصول إلى موقعك وذلك لتسهيل عملية توصيل الطلبات وحساب الزمن اللازم لتوصيل الطلب إلى العنوان
                        الخاص بك
                        الوصول إلى شبكة الإنترنت
                        الوصول إلى الذاكرة الخارجية للجوال الخاص بك سواء بقراءتها أو بالكتابة عليها
                    </p>
                </section>
                <section>
                    <h2>حق تعديل سياسة الخصوصية</h2>
                    <p>
                        تاتكس تملك الحق الكامل في تحديث سياسة الخصوصية الخاصة بتاتكس سواء بإضافة أو حذف
                        بنود جديدة أو بتعديل بنود حالية في أي وقت.

                        كيف نقوم بإخطار مستخدمي تاتكس بأي تحديث في سياسة الخصوصية؟
                        لا نقوم بإرسال أي إشعار أو بريد إلكتروني حول تحديثات سياسة الخصوصية، ولكن يمكنك دائماً معرفة أي
                        تحديث وذلك بتفقد تاريخ آخر تحديث لهذه السياسة والموجود في آخر سطر في هذه الصفحة.
                    </p>
                </section>
                <section>
                    <h2>كيف نقوم بإخطار مستخدمي تاتكس بأي تحديث في سياسة الخصوصية؟</h2>
                    <p>
                        لا نقوم بإرسال أي إشعار أو بريد إلكتروني حول تحديثات سياسة الخصوصية، ولكن يمكنك دائماً معرفة أي
                        تحديث وذلك بتفقد تاريخ آخر تحديث لهذه السياسة والموجود في آخر سطر في هذه الصفحة.
                    </p>
                    <p class="last-update"> آخر تحديث 3/12/2017 </p>
                </section>

            </div>
            
            <div class="default-shape">
                <div class="shape-1">
                    <img src="assets/img/shape/4.png" alt="image">
                </div>

                <div class="shape-2 rotateme">
                    <img src="assets/img/shape/5.svg" alt="image">
                </div>

                <div class="shape-3">
                    <img src="assets/img/shape/6.svg" alt="image">
                </div>

                <div class="shape-4">
                    <img src="assets/img/shape/7.png" alt="image">
                </div>

                <div class="shape-5">
                    <img src="assets/img/shape/8.png" alt="image">
                </div>
            </div>
		</section>
        <!-- End Conditions Area -->

          <!-- Start Footer -->
          <%- include('../partials/Arabic/Footer'); -%>
          <!-- End Footer -->


        <!-- Start Go Top Section -->
        <div class="go-top">
            <i class="bx bx-chevron-up"></i>
            <i class="bx bx-chevron-up"></i>
        </div>
        <!-- End Go Top Section -->

         <!-- Start Live Chat Support -->
         <%- include('../partials/Arabic/LiveChatSupport') -%>
         <!-- Start Live Chat Support -->

        <%- include('../partials/ScriptTags.ejs') -%>
    </body>
</html>