<!doctype html>
<html lang="ar">
    <head>
        <%- include('../partials/HeadTags.ejs') -%>
        <!-- RTL CSS -->
        <link rel="stylesheet" href="/assets/css/rtl.css">
    </head>

    <body>

        
        <!-- Start Preloader Area -->
        <%- include('../partials/Preloader'); -%>
        <!-- End Preloader Area -->

        <!-- Start Navbar Area -->
        <%- include('../partials/Arabic/Header'); -%>
        <!-- End Navbar Area -->

        <!-- Start Single App Page -->
        <section class="app-section container-fluid py-5" style="margin-top: 82px">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-12 m-auto">
                        <div class="section-head text-center">
                          <h2>تفاصيل عن هذا التطبيق</h2>
                          <p class="mb-0">هذا التطبيق من أعظم التطبيقات التي تدقمها تاتكس والتي به سنصل إلى الدرجة الأولى فكن واثقًا من تلك الفكرة ولا تتردد أبدًا في المحاولة إلى الوصول إلى ذلك التطبيق</p>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                      <div class="app-single bg-light p-5">
                          <div class="header d-flex pb-4">
                              <div class="icon">
                                  <img src="/assets/img/apps/<%= app.app_avatar %>" class="img-fluid" alt="">
                              </div>
                              <div class="title pr-3">
                                  <h3 class="mb-0"><%= app.app_name %></h3>
                                  <p class="mb-0"><%= app.app_desc %></p>
                                  <ul class="stars d-flex mt-1">
                                      <% for(let i = 0; i < app.app_stars; i++) { %>
                                          <li><i class="fa fa-star active"></i></li>
                                      <% } %>
                                      <% for(let i = 0; i < 5 - app.app_stars; i++) { %>
                                          <li><i class="fa fa-star"></i></li>
                                      <% } %>
                                      <li>(144)</li>
                                  </ul>
                                  <div class="d-flex mt-2">
                                      <a href="<%= app.app_googleplay_link %>" target="_blank" class="btn btn-danger ml-2">Google Play <i class="fab fa-google-play"></i></a>
                                      <a href="<%= app.app_applestore_link %>" target="_blank" class="btn btn-danger">Apple Store <i class="fab fa-apple"></i></a>
                                  </div>
                              </div>
                          </div>
                          <div class="item py-4">
                              <div class="content">
                                  <h3 class="title">لقطات شاشة</h3>
                                  <div class="row gallery mt-2">
                                      <% (app.app_screenshots).forEach((screenshot) => { %>
                                          <div class="col-lg-3 col-sm-6 col-12">
                                              <a class="gallery-item" href="/assets/img/mockup/<%= screenshot %>" title="<%= screenshot %>">
                                                  <img src="/assets/img/mockup/<%= screenshot %>" class="img-fluid" alt="<%= screenshot %>"/>
                                              </a>
                                          </div>
                                     <%  }) %>
                                  </div>
                              </div>
                          </div>
                          <div class="item py-4 d-flex">
                              <div class="icon">
                                  <i class="fas fa-history"></i>
                              </div>
                              <div class="content pr-3">
                                  <h3 class="title">إصدارات التطبيق</h3>
                                  <div class="version-content">
                                      <% for (const property in app.app_history) { %>
                                          <div class="version mt-3">
                                              <h6><%= property %></h6>
                                              <ul class="mt-2">
                                                  <% app.app_history[property].forEach((item) => { %>
                                                      <li><%= item %></li>
                                                  <% }) %>
                                              </ul>
                                          </div>
                                      <% } %>
                                  </div>
                              </div>
                          </div>
                          <div class="item pt-4">
                            <h3 class="mb-2">أسئلة عن هذا التطبيق</h3>
                            <div class="faq-accordion">
                                <ul class="accordion">
                                    <li class="accordion-item bg-white">
                                        <a class="accordion-title active" href="javascript:void(0)">
                                            <i class='bx bx-chevron-down'></i>
                                            هنا سؤال عن التطبق الآن هل سؤال؟
                                        </a>
                                
                                        <div class="accordion-content">
                                            <p>هنا سوف يتم وضع محتوى عن السؤال هنا سوف يتم وضع محتوى عن السؤال خنا سوف يتم وضع محتوى عن السؤال</p>
                                        </div>
                                    </li>
    
                                    <li class="accordion-item bg-white">
                                        <a class="accordion-title" href="javascript:void(0)">
                                            <i class='bx bx-chevron-down'></i>
                                            هنا سؤال عن التطبق الآن هل سؤال؟
                                        </a>
                                
                                        <div class="accordion-content bg-white">
                                            <p>هنا سوف يتم وضع محتوى عن السؤال هنا سوف يتم وضع محتوى عن السؤال خنا سوف يتم وضع محتوى عن السؤال</p>
                                        </div>
                                    </li>
    
                                    <li class="accordion-item bg-white">
                                        <a class="accordion-title" href="javascript:void(0)">
                                            <i class='bx bx-chevron-down'></i>
                                            هنا سؤال عن التطبق الآن هل سؤال؟
                                        </a>
                                
                                        <div class="accordion-content">
                                            <p>هنا سوف يتم وضع محتوى عن السؤال هنا سوف يتم وضع محتوى عن السؤال خنا سوف يتم وضع محتوى عن السؤال</p>
                                        </div>
                                    </li>
    
                                    <li class="accordion-item bg-white">
                                        <a class="accordion-title" href="javascript:void(0)">
                                            <i class='bx bx-chevron-down'></i>
                                            هنا سؤال عن التطبق الآن هل سؤال؟
                                        </a>
                                
                                        <div class="accordion-content bg-white">
                                            <p>هنا سوف يتم وضع محتوى عن السؤال هنا سوف يتم وضع محتوى عن السؤال خنا سوف يتم وضع محتوى عن السؤال</p>
                                        </div>
                                    </li>
    
                                    <li class="accordion-item bg-white">
                                        <a class="accordion-title" href="javascript:void(0)">
                                            <i class='bx bx-chevron-down'></i>
                                            هنا سؤال عن التطبق الآن هل سؤال؟
                                        </a>
                                
                                        <div class="accordion-content">
                                            <p>هنا سوف يتم وضع محتوى عن السؤال هنا سوف يتم وضع محتوى عن السؤال خنا سوف يتم وضع محتوى عن السؤال</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </section>
      <!-- End Single App Page -->
        
       
         <!-- Start Footer -->
         <%- include('../partials/Arabic/Footer') -%>
         <!-- End Footer -->

          <!-- Start Go Top Section -->
        <div class="go-top">
            <i class="bx bx-chevron-up"></i>
            <i class="bx bx-chevron-up"></i>
        </div>
        <!-- End Go Top Section -->

         <!-- Start Live Chat Support -->
         <%- include('../partials/Arabic/LiveChatSupport') -%>
         <!-- Start Live Chat Support -->

        <%- include('../partials/ScriptTags.ejs') -%>
        
    </body>
</html>