<!doctype html>
<html lang="ar">
    <head>
        <%- include('../partials/HeadTags.ejs') -%>
        <!-- RTL CSS -->
        <link rel="stylesheet" href="../assets/css/rtl.css">
    </head>

    <body>

        <!-- Start Preloader Area -->
        <%- include('../partials/Preloader'); -%>
        <!-- End Preloader Area -->

       <!-- Start Navbar Area -->
       <%- include('../partials/Arabic/Header'); -%>
       <!-- End Navbar Area -->

        <!-- Start Page Title Area -->
        <div class="page-title-area item-bg-1" style="margin-top: 82px">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="page-title-content">
                            <h2>الشروط والاستخدام</h2>
                            <ul>
                                <li><a href="/home">الرئيسية</a></li>
                                <li>الشروط والاستخدام</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Title Area -->
        
        <!-- Start Conditions Area -->
		<section class="conditions-section ptb-100">
			<div class="container text-muted">
                <section>

                    <p>استخدامك لتطبيق تاتكس وتقديمك معلوماتك الشخصية لنا هو بمثابة موافقة منك على البنود
                        الواردة في هذه الاتفاقية، بالإشارة إلى "الشركة" أو "نحن" فإنها تمثل شركة تاتكس
                        والمسجلة
                        في المملكة العربية السعودية، أما "أنت" أو "المستخدم" فإنها تمثل أي شخص يقوم باستخدام
                        تطبيق تاتكس. إن كنت لا توافق على هذه البنود، فعليك التوقف عن استخدام التطبيق.
                    </p>
                </section>
                <section>
                    <h2> هل نقوم بجمع بياناتك الشخصية؟</h2>
                    <p> في حال تصفحك للمتجر، لن نقوم بجمع أي بيانات شخصية عنك إلا حين تقرر استخدام الخدمة
                        والانتفاع منها، وفي حال استخدامك لها فنحن نقوم البيانات الشخصية الموضحة أدناه:</p>
                    <ul>
                        <li>الاسم</li>
                        <li> البريد الإلكتروني</li>
                        <li> رقم الجوال</li>
                        <li>المكان والعنوان "يتطلب ذلك تفعيل خاصية تحديد المواقع في بعض الأحيان"</li>
                    </ul>

                </section>
                <section>
                    <h2>كيف نستخدم البيانات الشخصية؟ </h2>
                    <p> نحنُ نقوم بجمع البيانات الشخصية والتي سبق ذكرها للأسباب التالية:</p>
                    <ul>
                        <li>التسجيل في التطبيق</li>
                        <li> تخصيص تجربتك في التطبيق للحصول على أفضل تجربة ممكنة لعملية التسوق مع تاتكس</li>
                        <li>التخطيط لمعرفة الوقت الذي سيتم استغراقه في عملية التوصيل</li>
                        <li> إطلاعك على العروض الترويجية</li>
                        <li> التواصل معك</li>
                    </ul>
                </section>
                <section>

                    <h2>كيف تتم عملية معالجة الدفع الإلكتروني داخل التطبيق؟ </h2>
                    <p>
                        تاتكس يستخدم طرف ثالث موثوق لمعالجة عمليات الدفع الإلكتروني، وهذه العمليات لا تنطبق
                        على الأشخاص الذين يقومون باختيار "الدفع عند الاستلام" خلال عملية التسوق، من الممكن أن يقوم
                        هذا الطرف الثالث بطلب معلومات خاصة ببطاقتك الائتمانية وربما يطلب منك الوصول لقائمة الاتصال
                        الخاصة بك.
                    </p>
                </section>
                <section>
                    <h2> هل نقوم بمشاركة بياناتك الشخصية مع أي أطراف أخرى؟ </h2>
                    <p>
                        خصوصية مستخدمي تاتكس هي من أهم الأشياء التي نحاول حمايتها بكل الطرق الممكنة، حيث أننا
                        لا نقوم إطلاقًا ببيع أو مشاركة هذه البيانات ولا نقوم بالكشف عنها أو مشاركتها مع أي طرف ثالث
                        لأي غرض كان.
                    </p>
                </section>
                <section>
                    <h2> هل بياناتك الشخصية في أمان؟ </h2>
                    <p>
                        نحنُ نقوم باستخدام تقنيات متقدمة جداً للحفاظ على خصوصية بياناتك ومنعها من الضياع أو السرقة
                        أو القرصنة، ولكن نُخلي مسؤوليتنا التامة عن أي خرق يحدث من طرف الاتصال الخاص بك.</p>
                </section>
                <section>
                    <h2>هل يمكنك تعديل بياناتك؟</h2>
                    <p>
                        يمكنك تعديل بياناتك الشخصية من خلال الدخول إلى حسابك في التطبيق أو من خلال التواصل مع خدمة
                        العملاء من خلال الضغط على زر اتصل بنا من القائمة الجانبية داخل التطبيق أو من خلال الاتصال
                        على الرقم 920033024
                    </p>
                </section>

                <section>
                    <h2>سياسة الإرجاع</h2>
                    <p>
                        في حال وجود خلل في المنتجات أو عدم رضا من قبل العميل على الجودة أو تواريخ الانتاج والانتهاء،
                        يمكنك تقديم شكوى من خلال خدمة العملاء إما من خلال الاتصال على الرقم 920033024 أو إرسال رسالة
                        عبر الإيميل التالي: care@nana.sa لاستبدالها أو إرجاعها.

                    </p>
                </section>

                <section>
                    <h2>حق تعديل شروط الاستخدام</h2>
                    <p>
                        تاتكس تملك الحق الكامل في تحديث شروط الاستخدام الخاصة بتاتكس سواء بإضافة أو
                        حذف بنود جديدة أو بتعديل بنود حالية في أي وقت.
                    </p>
                </section>

                <section>
                    <h2>كيف نقوم بإخطار مستخدمي تاتكس بأي تحديث في شروط الاستخدام؟</h2>
                    <p>ا نقوم بإرسال أي إشعار أو بريد إلكتروني حول تحديثات شروط الاستخدام، ولكن يمكنك دائماً معرفة
                        أي تحديث وذلك بتفقد تاريخ آخر تحديث لهذه الشروط والموجود في آخر سطر في هذه الصفحة.
                    </p>
                </section>

                <section>
                    <h2>ما هو القانون الذي تخضع له الشروط؟ </h2>
                    <p> تخضع شروط الاستخدام لقانون المملكة العربية السعودية، و موافقتك عليها تعني موافقتك على الخضوع
                        للسلطة القضائية في المحاكم السعودية. </p>
                </section>

                <section>
                    <h2> هل لديك أي استفسار؟ </h2>
                    <p>إذا كانت لديك أي استفسارات أو أسئلة أو مخاوف حول هذه الشروط، فنحن نرحب دائماً بالإجابة على
                        أسئلتكم و استفساراتكم، يمكنكم التواصل معنا مباشرة من خلال البريد الإلكتروني ب <a href="mailto:care@nana.sa">care@nana.sa</a> وسوف يتم الرد بأسرع وقت ممكن.</p>
                    <p class="last-update"> آخر تحديث 3/12/2017 </p>

                </section>

            </div>
            
            <div class="default-shape">
                <div class="shape-1">
                    <img src="assets/img/shape/4.png" alt="image">
                </div>

                <div class="shape-2 rotateme">
                    <img src="assets/img/shape/5.svg" alt="image">
                </div>

                <div class="shape-3">
                    <img src="assets/img/shape/6.svg" alt="image">
                </div>

                <div class="shape-4">
                    <img src="assets/img/shape/7.png" alt="image">
                </div>

                <div class="shape-5">
                    <img src="assets/img/shape/8.png" alt="image">
                </div>
            </div>
		</section>
        <!-- End Conditions Area -->

         <!-- Start Footer -->
        <%- include('../partials/Arabic/Footer'); -%>
        <!-- End Footer -->

        <!-- Start Go Top Section -->
        <div class="go-top">
            <i class="bx bx-chevron-up"></i>
            <i class="bx bx-chevron-up"></i>
        </div>
        <!-- End Go Top Section -->

         <!-- Start Live Chat Support -->
         <%- include('../partials/Arabic/LiveChatSupport') -%>
         <!-- Start Live Chat Support -->

        <%- include('../partials/ScriptTags.ejs') -%>
    </body>
</html>