<!doctype html>
<html lang="en">
    <head>
        <%- include('../partials/HeadTags.ejs') -%>
    </head>

    <body>

        
        <!-- Start Preloader Area -->
        <%- include('../partials/Preloader'); -%>
        <!-- End Preloader Area -->


           <!-- Start Navbar Area -->
        <%- include('../partials/English/Header'); -%>
        <!-- End Navbar Area -->

         <!-- Start About Area -->
         <section class="about-section container-fluid py-5" style="background-color: #d2fbd5; margin-top: 82px">
             <div class="container py-5">
                <div class="row">
                    <div class="col-lg-6 col-12 wow fadeInLeft">
                        <div class="about-image">
                            <img src="/assets/Images/photo-1518081461904-9d8f136351c2.jpg" alt="About-US" title="About-US">
                        </div>
                    </div>

                    <div class="col-lg-6 col-12 wow fadeInRight">
						<div class="about-tab">
                            <h2 class="hvr-forward">About TATX Company</h2>
                            <div class="bar"></div>
                            <p class="hvr-forward">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo.</p>

							<div class="tab about-list-tab">
								<ul class="tabs">
									<li>
										<a href="#">
											Our Vision
										</a>
									</li>
									<li>
										<a href="#">
											Our Missinon
										</a>
									</li>
									<li>
										<a href="#">
											Friendly Support
										</a>
									</li>
                                </ul>
                                
								<div class="tab_content">
									<div class="tabs_item">
										<div class="text">
                                            <h3>How to generate your Creative Idea With IT Business</h3>
                                        </div>

                                        <ul class="list">
                                            <li>
                                                <i class="flaticon-tick"></i>
                                                The Philosopy of Business Analytics
                                            </li>

                                            <li>
                                                <i class="flaticon-tick"></i>
                                                Fast Track Your Business
                                            </li>

                                            <li>
                                                <i class="flaticon-tick"></i>
                                                Lies & Damn Lies About Your Business
                                            </li>

                                            <li>
                                                <i class="flaticon-tick"></i>
                                                The Ultimate Deal on Business
                                            </li>
                                        </ul>

                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan facilisis.</p>
                                    </div>

                                    <div class="tabs_item">
										<div class="text">
                                            <h3>How to generate your Creative Idea With IT Business</h3>
                                        </div>

                                        <ul class="list">
                                            <li>
                                                <i class="flaticon-tick"></i>
                                                The Philosopy of Business Analytics
                                            </li>

                                            <li>
                                                <i class="flaticon-tick"></i>
                                                Fast Track Your Business
                                            </li>

                                            <li>
                                                <i class="flaticon-tick"></i>
                                                Lies & Damn Lies About Your Business
                                            </li>

                                            <li>
                                                <i class="flaticon-tick"></i>
                                                The Ultimate Deal on Business
                                            </li>
                                        </ul>

                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan facilisis.</p>
                                    </div>

                                    <div class="tabs_item">
										<div class="text">
                                            <h3>How to generate your Creative Idea With IT Business</h3>
                                        </div>

                                        <ul class="list">
                                            <li>
                                                <i class="flaticon-tick"></i>
                                                The Philosopy of Business Analytics
                                            </li>

                                            <li>
                                                <i class="flaticon-tick"></i>
                                                Fast Track Your Business
                                            </li>

                                            <li>
                                                <i class="flaticon-tick"></i>
                                                Lies & Damn Lies About Your Business
                                            </li>

                                            <li>
                                                <i class="flaticon-tick"></i>
                                                The Ultimate Deal on Business
                                            </li>
                                        </ul>

                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan facilisis.</p>
                                    </div>
								</div>
							</div>
						</div>
					</div>
                </div>
            </div>
         </section>
        <!-- End About Area -->
        
        
       
       <!-- Start Footer -->
       <%- include('../partials/English/Footer'); -%>
       <!-- End Footer -->

        <!-- Start Go Top Section -->
        <div class="go-top">
            <i class="bx bx-chevron-up"></i>
            <i class="bx bx-chevron-up"></i>
        </div>
        <!-- End Go Top Section -->

          <!-- Start Live Chat Support -->
          <%- include('../partials/English/LiveChatSupport') -%>
          <!-- Start Live Chat Support -->

        <%- include('../partials/ScriptTags.ejs') -%>
    </body>
</html>

       