<!doctype html>
<html lang="en">
    <head>
        <%- include('../partials/HeadTags.ejs') -%>
    </head>

    <body>

        
        <!-- Start Preloader Area -->
        <%- include('../partials/Preloader'); -%>
        <!-- End Preloader Area -->

           <!-- Start Navbar Area -->
        <%- include('../partials/English/Header'); -%>
        <!-- End Navbar Area -->

         <!-- Start Admin Area -->
         <section class="admin-section container-fluid py-5 bg-light">
             <div class="container py-5">
                <div class="row">
                    <div class="col-6">
                        <div class="content bg-light">
                            <h3>Users wait to connect with them</h3>
                            <div class="users">
                                <% users.forEach((user) => { %>
                                    <a class="user" href="/chat/<%= user.roomID %>" target="_blank">
                                        <div class="user hvr-bob mt-3 d-flex bg-white rounded-lg p-2" style=" border-radius: 8px; box-shadow: 0 0 8px #DDD">
                                            <div class="image">
                                                <img style="height: 80px; width: 80px;" src="/assets/Images/Avatar/User.png" title="client" alt="client"/>
                                            </div>
                                            <div class="content pl-2 d-flex flex-column justify-content-center">
                                                <h6>Room ID: <%= user.roomID %></h6>
                                                <h6>Name <span style="font-weight: 500"><%= user.fullname %></span> </h6>
                                            </div>
                                        </div>
                                    </a>
                                <% }) %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </section>
        <!-- End About Area -->
        
        
       
       <!-- Start Footer -->
       <%- include('../partials/English/Footer'); -%>
       <!-- End Footer -->

        <!-- Start Go Top Section -->
        <div class="go-top">
            <i class="bx bx-chevron-up"></i>
            <i class="bx bx-chevron-up"></i>
        </div>
        <!-- End Go Top Section -->

        
                <!-- Jquery Slim JS -->
        <script src="/assets/js/jquery.min.js"></script>
        <!-- Popper JS -->
        <script src="/assets/js/popper.min.js"></script>
        <!-- Bootstrap JS -->
        <script src="/assets/js/bootstrap.min.js"></script>
        <!-- Meanmenu JS -->
        <script src="/assets/js/jquery.meanmenu.js"></script>
        <!-- Owl Carousel JS -->
        <script src="/assets/js/owl.carousel.js"></script>
        <!-- Owl Magnific JS -->
        <script src="/assets/js/jquery.magnific-popup.min.js"></script>
        <!-- Nice Select JS -->
        <script src="/assets/js/jquery.nice-select.min.js"></script>
        <!-- Appear JS --> 
        <script src="/assets/js/jquery.appear.js"></script>
        <!-- Odometer JS --> 
        <script src="/assets/js/odometer.min.js"></script>
        <!-- Image Light Box JS --> 
        <script src="/assets/js/imagelightbox.min.js"></script>
        <!-- Form Ajaxchimp JS -->
        <script src="/assets/js/jquery.ajaxchimp.min.js"></script>
        <!-- Form Validator JS -->
        <script src="/assets/js/form-validator.min.js"></script>
        <!-- Wow JS -->
        <script src="/assets/js/wow.min.js"></script>
        <!-- Axios JS -->
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <!-- Moment JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js"></script>
        <!-- Live Chat Support JS -->
        <script src="/assets/js/Socket.js"></script>
        <!-- Custom JS -->
        <script src="/assets/js/main.js"></script>
        <script>
            $(() => {
                var socket = io(); 
                socket.on('newUser', (data) => {
                    $(".users").prepend(`
                        <a class="user" href="/chat/${ data.roomID }" target="_blank">
                            <audio class="d-none" controls autoplay>
                                <source src="/assets/sounds/notify.ogg" type="audio/ogg">
                                <source src="/assets/sounds/notify.mp3" type="audio/mpeg">
                                Your browser does not support the audio element.
                            </audio>
                        <div class="user hvr-bob mt-3 d-flex bg-white rounded-lg p-2" style=" border-radius: 8px; box-shadow: 0 0 8px #DDD">
                            <div class="image">
                                <img style="height: 80px; width: 80px;" src="/assets/Images/Avatar/User.png" title="client" alt="client"/>
                            </div>
                            <div class="content pl-2 d-flex flex-column justify-content-center">
                                <h6>Room ID: ${ data.roomID }</h6>
                                <h6>Name <span style="font-weight: 500">${ data.fullname }</span> </h6>
                            </div>
                        </div>
                    </a>
                    `)
                })
            })
        </script>
    </body>
</html>

       