<!doctype html>
<html lang="en">
    <head>
        <%- include('../partials/HeadTags.ejs') -%>
    </head>

    <body>

        <!-- Start Preloader Area -->
         <%- include('../partials/Preloader'); -%>
        <!-- End Preloader Area -->


         <!-- Start Navbar Area -->
        <%- include('../partials/English/Header'); -%>
        <!-- End Navbar Area -->

        <!-- Start Apps Page -->
           <section class="apps-section container-fluid py-5" style="margin-top: 82px">
              <div class="container">
                  <div class="row">
                      <div class="col-xl-8 col-lg-10 col-12 mx-auto">
                          <div class="section-head text-center">
                            <h2 class="hvr-forward wow fadeInLeft">TATX Creative Apps</h2>
                            <p class="hvr-forward mb-0 wow fadeInRight">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti nam quibusdam aut dicta quod quia pariatur, consequatur id, enim odio ducimus nemo aperiam necessitatibus cum in perferendis. Voluptates, ipsa voluptatibus.</p>
                          </div>
                      </div>
                  </div>
                  <div class="row wow fadeInUp">
                        <% apps.forEach((app) => { %>
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 mt-3">
                            <div class="page-app hvr-bob">
                                <div class="icon">
                                    <img src="assets/img/apps/<%= app.app_avatar %>" alt="">
                                </div>
                                <div class="app-content-app">
                                    <h5 class="title"><%= app.app_name %></h5>
                                    <ul class="stars mt-1">
                                        <% for(let i = 0; i < app.app_stars; i++) { %>
                                            <li><i class="fa fa-star active"></i></li>
                                        <% } %>
                                        <% for(let i = 0; i < 5 - app.app_stars; i++) { %>
                                            <li><i class="fa fa-star"></i></li>
                                        <% } %>
                                        <li>(144)</li>
                                    </ul>
                                    <div class="text">
                                        <%= app.app_desc %>
                                    </div>
                                    <div class="forAppComponent d-flex mt-2">
                                        <a href="/apps/<%= app._id %>" target="_blank" class="btn btn-danger btn-sm" style="background-color: rgb(248, 52, 71)">Visit App <i class="fas fa-arrow-right"></i> </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }) %>
					</div>
                </div>
          </section> 
        <!-- End Apps Page -->
        
       
        <!-- Start Footer -->
        <%- include('../partials/English/Footer'); -%>
        <!-- End Footer -->

         <!-- Start Go Top Section -->
         <div class="go-top">
            <i class="bx bx-chevron-up"></i>
            <i class="bx bx-chevron-up"></i>
        </div>
        <!-- End Go Top Section -->

          <!-- Start Live Chat Support -->
          <%- include('../partials/English/LiveChatSupport') -%>
          <!-- Start Live Chat Support -->

        <%- include('../partials/ScriptTags.ejs') -%>
    </body>
</html>