<!doctype html>
<html lang="en" class="h-100 w-100">

<head>
    <%- include('../partials/HeadTags.ejs') -%>
</head>

<body class="h-100 w-100">

    <!-- Chat Content -->

    <div class="chatContent d-flex h-100 w-100" id="chatContent">
        <div class="leftContent h-100 d-flex align-items-center p-3" style="width: 250px; background-color: #f1f4f6">
            <div class="profile text-center w-100">
                <div class="image">
                    <img class="Client" title="Client" src="/assets/Images/Avatar/User.png" style="height: 80px; width: 80px"/>
                </div>
                <div class="name mt-1">
                    <h3><%= user.fullname %></h3>
                    <p style="font-size: 13px">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error at saepe in tempore velit architecto</p>
                </div>
            </div>
        </div>
        <div class="rightContent h-100 bg-white" style="width: calc(100% - 250px);">
            <div class="chat-history" style="height: calc(100% - 110px); overflow-y: auto">
                <ul class="message_data"></ul>
            </div>
            <div class="typing pl-3" style="height: 30px;"></div>
            <div class="chat-message clearfix">
                <div class="input-group mb-0">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="far fa-comment-dots"></i></span>
                    </div>
                    <textarea id="inputMessage" type="text" class="form-control inputMessage" placeholder="Enter Message here..." style="margin-top: 0px; margin-bottom: 0px; height: 80px;"></textarea>
                </div>
            </div>
        </div>
    </div>

     <!-- Chat Content -->


    <div class="contact-status" id="contact-status"></div>

    <!-- Jquery Slim JS -->
    <script src="/assets/js/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="/assets/js/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- Moment JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js"></script>
    <!-- Live Chat Support JS -->
    <script src="/assets/js/Socket.js"></script>
    <script>
        $(() => {
            var socket = io();
            var typing = false;
            var timeout = undefined;

            socket.emit('joinAdmin', { roomID: "<%= user.roomID %>" });


            fetch('/fetchMessages', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ roomID: "<%= user.roomID %>" }),
            })
                .then(response => response.json())
                .then(data => {
                    $.each(data, (index, data) => {
                        console.log(data);
                        $(".message_data").append(`
                            ${ (data.isAdmin) ? `
                                <li class="left clearfix">
                                    <img class="user_pix" src="/assets/Images/Avatar/Admin.png"  alt="avatar">
                                    <div class="message">
                                        <span>${ data.message }</span>
                                    </div>
                                    <span class="data_time">${ moment(data.createdAt).fromNow()} </span>
                                </li>
                            ` : `
                                 <li class="right clearfix">
                                    <img class="user_pix" src="/assets/Images/Avatar/User.png"  alt="avatar">
                                    <div class="message">
                                        <span>${ data.message }</span>
                                    </div>
                                    <span class="data_time">${ moment(data.createdAt).fromNow()} </span>
                                </li>
                            ` }
	                    `)
                    })
                    $(".chat-history").animate({ scrollTop: 20000000000 }, "slow");
                })
                .catch((error) => {
                    console.error('Error:', error);
                });


            socket.on('disconnect', () => {
                $('.inputMessage').prop('disabled', true);
                $('.inputMessage').prop('placeholder', "Connection Lost! Reconnecting...");
            });

            socket.on('reconnect', function () {
                setTimeout(() => {
                    $('.inputMessage').prop('disabled', false);
                    $('.inputMessage').prop('placeholder', "Type your message..");
                }, 4000);
            });

            socket.on('reconnect_failed', function () {
                $('.inputMessage').prop('placeholder', "No active connection. Please refresh page...");
            });

          
            $('.inputMessage').keypress(function (event) {
                if (event.which !== 13) {
                    if (typing === false && $('.inputMessage').is(":focus")) {
                        typing = true;
                        socket.emit("typing", {
                            isTyping: true,
                            roomID: "<%= user.roomID %>",
                            person: "Admin"
                        });
                    } else {
                        clearTimeout(timeout);
                        timeout = setTimeout(timeoutFunction, 2000);
                    }
                } else {
                    sendMessage();
                    clearTimeout(timeout);
                    timeoutFunction();
                }
            })


            function sendMessage() {
                if ($('.inputMessage').val().trim().length > 0) {
                    socket.emit('chatMessage', {
                        isAdmin: true,
                        roomID: "<%= user.roomID %>",
                        message: $('.inputMessage').val(),
                        createdAt: new Date()
                    });
                    $('.inputMessage').val('')
                }
            }

            function timeoutFunction() {
                typing = false;
                socket.emit("typing", {
                    isTyping: false,
                    roomID: "<%= user.roomID %>",
                    person: "Admin"
                });
            }

            socket.on('typing', (data) => {
                if (data.isTyping && data.person === 'Client')
                    $(".typing").append("Client is typing...");
                else
                    $(".typing").text('');
            });

            socket.on('chatMessage', function (data) {
                if (data.isAdmin) {
                    sender = "left"
                    img = "Admin.png"
                }
                   
                else {
                    sender = "right"
                    img = "User.png"
                }
                    

                $(".message_data").append(`
                     <li class="${ sender } clearfix">
                        <img class="user_pix" src="/assets/Images/Avatar/${ img }"  alt="avatar">
                        <div class="message">
                            <span>${ data.message}</span>
                        </div>
                        <span class="data_time">${ moment(data.createdAt).fromNow()} </span>
                     </li>
                    `)
                $(".chat-history").animate({ scrollTop: 20000000 }, "slow");
            });
        })
    </script>
</body>

</html>