<!doctype html>
<html lang="en">
    <head>
        <%- include('../partials/HeadTags.ejs') -%>
    </head>

    <body>

       
        <!-- Start Preloader Area -->
        <%- include('../partials/Preloader'); -%>
        <!-- End Preloader Area -->

         <!-- Start Navbar Area -->
       <%- include('../partials/English/Header'); -%>
       <!-- End Navbar Area -->

        <!-- Start Intro Area -->
        <section class="intro-section container-fluid py-5" style="margin-top: 82px">
            <div class="container py-5">
                <div class="row">
                    <div class="col-md-10 mx-md-auto col-12">
                        <div class="intro text-center">
                            <h1 class="wow fadeInLeft">TATX loves to hear from you</h1>
                            <p class="wow fadeInRight" style="font-size: 20px; color: #555">Whether you have a question about features, trials, pricing, need a demo, or anything else, our team is ready to answer all your questions</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Intro Area -->

        <!-- Start Contact Area -->
        <section class="contact-section container-fluid py-5 bg-light">
            <div class="container py-5">
                <div class="row">
                    <div class="col-md-6 col-12 wow fadeInLeft">
                        <div class="left-contact">
                            <div class="icon mb-2"><i class="flaticon-blueprint" style="height: 70px; width: 70px; border-radius: 50%; background-color: #ffd9d9; display: inline-block; text-align: center; line-height: 70px; color: #ff7171; font-size: 35px"></i></div>
                            <h3>Make a query about what you want</h3>
                            <p style="font-size: 20px; color: #555">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt rerum deleniti illo dolorum? Facilis dolor deleniti ipsum ratione voluptatem itaque mollitia sint beatae aliquid provident, quod laudantium error architecto eius.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 wow fadeInRight">
                        <div class="right-contact">
                            <div class="contact-form p-5">
                                <div class="top-contact text-center">
                                    <h3 class="text-muted">Get in touch with us</h3>
                                </div>
                                <form class="bottom-contact mt-3">
                                    <input id="csrf" type="hidden" name="_csrf" value="<%= csrfToken %>">
                                     <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text" id="basic-addon">
                                            <i class="far fa-user"></i>
                                          </span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Enter your fullname" aria-label="Fullname" aria-describedby="Fullname" name="fullname" id="fullname">
                                      </div>
                                      <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon">
                                                <i class="far fa-envelope"></i>
                                            </span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Enter your email" aria-label="Email" aria-describedby="Email" name="email" id="email">
                                      </div>
                                      <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text" id="basic-addon">
                                            <i class="fas fa-heading"></i>
                                          </span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Message Heading" aria-label="Heading" aria-describedby="Heading" name="heading" id="heading">
                                      </div>
                                      <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text" id="basic-addon">
                                            <i class="far fa-comment-alt"></i>
                                          </span>
                                        </div>
                                        <textarea class="form-control" aria-label="Message" name="message" placeholder="Enter your message" rows="3" style="resize: none" id="message"></textarea>
                                      </div>
                                      <div class="input-group">
                                        <button type="submit" class="btn btn-danger" id="contact">Contact TATX <i class="fas fa-sync-alt"></i></button>
                                      </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Contact Area -->

          <!-- Start Footer -->
          <%- include('../partials/English/Footer'); -%>
          <!-- End Footer -->

        <!-- Start Go Top Section -->
        <div class="go-top">
            <i class="bx bx-chevron-up"></i>
            <i class="bx bx-chevron-up"></i>
        </div>
        <!-- End Go Top Section -->

        <!-- Contact Form Status -->
          <div class="contact-status" id="contact-status"></div>
        <!-- Contact Form Status -->

        <%- include('../partials/ScriptTags.ejs') -%>
          <!-- Start Live Chat Support -->
          <%- include('../partials/English/LiveChatSupport') -%>
          <!-- Start Live Chat Support -->
        <!-- reCAPTCHA JS -->
        <script src="https://www.google.com/recaptcha/api.js?render=6LeTf_YUAAAAALUQEZyFe7txDsiqeozqhFx4mBgg"></script>
        <!-- contactAjax JS -->
        <script src="/assets/js/contactAjax.js"></script>
    </body>
</html>