<!doctype html>
<html lang="en">
    <head>
        <%- include('../partials/HeadTags.ejs') -%>
    </head>

    <body>

       
        <!-- Start Preloader Area -->
        <%- include('../partials/Preloader'); -%>
        <!-- End Preloader Area -->


           <!-- Start Navbar Area -->
        <%- include('../partials/English/Header'); -%>
        <!-- End Navbar Area -->
        
        <!-- Start Faq Area -->
        <section class="faq-section container-fluid py-5" style="margin-top: 82px">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title">
                            <h2>Frequently <span>Asked</span> Questions</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidiunt labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
                            <div class="bar"></div>
                        </div>
                    </div>
                </div>

                <div class="row mt-3 align-items-center">
                    <div class="col-lg-6 wow fadeInLeft">
                        <div class="faq-accordion">
                            <ul class="accordion">
                                <li class="accordion-item">
                                    <a class="accordion-title active" href="javascript:void(0)">
                                        <i class='bx bx-chevron-down'></i>
                                        What access do I have on the free plan?
                                    </a>
                            
                                    <div class="accordion-content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                                    </div>
                                </li>

                                <li class="accordion-item">
                                    <a class="accordion-title" href="javascript:void(0)">
                                        <i class='bx bx-chevron-down'></i>
                                        What access do I have on a free trial?
                                    </a>
                            
                                    <div class="accordion-content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                                    </div>
                                </li>

                                <li class="accordion-item">
                                    <a class="accordion-title" href="javascript:void(0)">
                                        <i class='bx bx-chevron-down'></i>
                                        Does the price go up as my team gets larger?
                                    </a>
                            
                                    <div class="accordion-content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                                    </div>
                                </li>

                                <li class="accordion-item">
                                    <a class="accordion-title" href="javascript:void(0)">
                                        <i class='bx bx-chevron-down'></i>
                                        How can I cancel my subscription?
                                    </a>
                            
                                    <div class="accordion-content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                                    </div>
                                </li>

                                <li class="accordion-item">
                                    <a class="accordion-title" href="javascript:void(0)">
                                        <i class='bx bx-chevron-down'></i>
                                        Can I pay via an Invoice?
                                    </a>
                            
                                    <div class="accordion-content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-6 wow fadeInRight">
                        <div class="faq-image">
                            <img src="/assets/Images/istockphoto-1152863036-1024x1024.jpg" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Faq Area -->

         <!-- Start Footer -->
         <%- include('../partials/English/Footer') -%>
         <!-- End Footer -->>
    
        <!-- Start Go Top Section -->
        <div class="go-top">
            <i class="bx bx-chevron-up"></i>
            <i class="bx bx-chevron-up"></i>
        </div>
        <!-- End Go Top Section -->

          <!-- Start Live Chat Support -->
          <%- include('../partials/English/LiveChatSupport') -%>
          <!-- Start Live Chat Support -->

        <%- include('../partials/ScriptTags.ejs') -%>
    </body>
</html>