<!doctype html>
<html lang="en">

<head>
    <%- include('../partials/HeadTags.ejs') -%>
</head>

<body>

    <!-- Start Preloader Area -->
    <%- include('../partials/Preloader'); -%>
    <!-- End Preloader Area -->

    <!-- Start Navbar Area -->
    <%- include('../partials/English/Header'); -%>
    <!-- End Navbar Area -->

    <!-- Start Carousel Area -->
    <div id="carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active">
                <div class="indicatorContent text-center text-white">
                    <div class="forIcon" style="font-size: 25px">
                        <i class="fa fa-bicycle"></i>
                    </div>
                    <div class="forTopic">
                        <span class="desc">Tatx</span>
                    </div>
                </div>
            </li>
            <li data-target="#carousel" data-slide-to="1">
                <div class="indicatorContent text-center text-white">
                    <div class="forIcon" style="font-size: 25px">
                        <i class="fa fa-bicycle"></i>
                    </div>
                    <div class="forTopic">
                        <span class="desc">Quality</span>
                    </div>
                </div>
            </li>
            <li data-target="#carousel" data-slide-to="2">
                <div class="indicatorContent text-center text-white">
                    <div class="forIcon" style="font-size: 25px">
                        <i class="fa fa-bicycle"></i>
                    </div>
                    <div class="forTopic">
                        <span class="desc">Delivery</span>
                    </div>
                </div>
            </li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="overlay"></div>
                <img class="d-block w-100" src="/assets/Images/Delivery/2.jpg" alt="First slide">
                <div class="carousel-caption">
                    <h5 class="text-white">Tatx is always with you</h5>
                    <p class="text-light">Tatx is always with you is a topic that will attract you and with this meaning you will not feel you are alone. Tatx is always with you is a topic that will attract you and with this meaning you will not feel you are alone</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="overlay"></div>
                <img class="d-block w-100" src="/assets/Images/Delivery/3.jpg" alt="Second slide">
                <div class="carousel-caption">
                    <h5 class="text-white">Quality</h5>
                    <p class="text-light">Tatx has a good quality in making apps and it makes apps in a high quality. The app is excellent because tatx follows steps in Planning, Desinging, Implementation and Coding Tatx has a good quality in making apps and it makes apps in a high quality. The app is excellent because tatx follows steps in Planning, Desinging, Implementation and Coding </p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="overlay"></div>
                <img class="d-block w-100" src="/assets/Images/Delivery/4.jpg" alt="Third slide">
                <div class="carousel-caption">
                    <h5 class="text-white">Delivery App</h5>
                    <p class="text-light">Tatx has a professional delivery app. You can order anything you want from the shop and we will reach the shop to bring the needs immediately. Tatx has a professional delivery app. You can order anything you want from the shop and we will reach the shop to bring the needs immediately </p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!-- End Carousel Area -->

    <!-- Start Intro for Tatx Area -->
    <section class="tatx-intro container-fluid py-5" id="counters">
        <div class="container py-5">
            <div class="row">
                <div class="order-2 col-md-6 col-12 mt-5 mt-md-0 wow fadeInLeft">
                    <div class="half-img hvr-bob">
                        <img alt="vector" src="/assets/img/Partner/client/vector-art-3.png">
                    </div>
                </div>
                <div class="order-1 order-md-3 col-md-6 col-12 wow fadeInRight">
                    <div class="heading-area">
                        <span class="sub-title text-muted hvr-forward animated pulse infinite">Tatx always with
                            you</span>
                        <h2 class="title text-muted hvr-forward">We have done greate services</h2>
                        <p class="para text-muted hvr-forward">TATX is an IT Company that aims to provide services that
                            help people in all fields and it makes the community easy</p>
                    </div>
                    <ul class="counter-list list-unstyled">
                        <li class="counter-item hvr-pulse-shrink">
                            <i aria-hidden="true" class="fas fa-users text-muted"></i>
                            <h6 class="counter-number text-muted"><span class="count">500</span>+</h6>
                            <p class="sub-title text-muted">Happy Clients</p>
                        </li>
                        <li class="counter-item hvr-pulse-shrink">
                            <i aria-hidden="true" class="fas fa-list-alt text-muted"></i>
                            <h6 class="counter-number text-muted"><span class="count">1074</span>+</h6>
                            <p class="sub-title text-muted">Lines Of Code</p>
                        </li>
                        <li class="counter-item hvr-pulse-shrink">
                            <i aria-hidden="true" class="fas fa-award text-muted"></i>
                            <h6 class="counter-number text-muted"><span class="count">600</span>+</h6>
                            <p class="sub-title text-muted">Project Completed</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- End Intro for Tatx Area -->

    <!-- Start Features Area -->
    <section id="features-section" class="features-section container-fluid py-5">
        <div class="container">
            <div class="row wow fadeInLeft">
                <div class="col-12">
                    <div class="section-title text-center">
                        <h2 class="hvr-forward">Creative Features</h2>
                        <p class="hvr-forward">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incidiunt labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, incidunt aliquam
                            accusantium temporibus in magni assumenda cupiditate saepe ullam. Doloribus et incidunt,
                            vero mollitia debitis ratione tenetur. Quo, animi aut?</p>
                        <div class="bar"></div>
                    </div>
                </div>
            </div>

            <div class="row wow fadeInUp mt-4">
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="features-content text-center hvr-grow-shadow">
                        <div class="icon">
                            <i class="flaticon-clock"></i>
                        </div>
                        <h3>Professionalism</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt</p>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 mt-3 mt-md-0">
                    <div class="features-content text-center hvr-grow-shadow">
                        <div class="icon">
                            <i class="flaticon-blueprint"></i>
                        </div>
                        <h3>Experience</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt</p>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-6 mt-3 mt-lg-0 col-sm-12 col-12">
                    <div class="features-content text-center hvr-grow-shadow">
                        <div class="icon left-icon">
                            <i class="flaticon-security"></i>
                        </div>
                        <h3>Integrated team</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt</p>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-6 mt-3 mt-lg-0 col-sm-12 col-12">
                    <div class="features-content text-center hvr-grow-shadow">
                        <div class="icon">
                            <i class="flaticon-update"></i>
                        </div>
                        <h3>Smart solutions</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Features Area -->

    <!-- Start Services Area -->
    <section class="services-section bg-color py-5">
        <div class="container">
            <div class="row wow fadeInLeft">
                <div class="col-12">
                    <div class="section-title">
                        <h2 class="hvr-forward">Tatx Services</h2>
                        <p class="hvr-forward">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incidiunt labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                        <div class="bar"></div>
                    </div>
                </div>
            </div>
            <div class="row mt-4 wow fadeInUp"">
                    <div class=" col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                <div class="single-services">
                    <div class="icon">
                        <i class="flaticon-cellphone"></i>
                    </div>
                    <h3>Web Programming</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore facilisis.</p>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-12 mt-3 mt-lg-0 col-sm-12 col-12">
                <div class="single-services">
                    <div class="icon">
                        <i class="flaticon-shopping-cart"></i>
                    </div>
                    <h3>Graphic Design</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore facilisis.</p>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-12 mt-3 mt-lg-0 col-sm-12 col-12">
                <div class="single-services">
                    <div class="icon">
                        <i class="flaticon-optimize"></i>
                    </div>
                    <h3>Video Working</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore facilisis.</p>
                </div>
            </div>
        </div>
        </div>

        <div class="default-shape">
            <div class="shape-1">
                <img src="assets/img/shape/4.png" alt="image">
            </div>

            <div class="shape-2 rotateme">
                <img src="assets/img/shape/5.svg" alt="image">
            </div>

            <div class="shape-3">
                <img src="assets/img/shape/6.svg" alt="image">
            </div>

            <div class="shape-4">
                <img src="assets/img/shape/7.png" alt="image">
            </div>

            <div class="shape-5">
                <img src="assets/img/shape/8.png" alt="image">
            </div>
        </div>

        <div class="services-shape">
            <img src="assets/img/cloud.png" alt="image">
        </div>
    </section>
    <!-- End Services Area -->

    <!-- Start Media Area -->
    <section class="blog-section container-fluid py-5 bg-white">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <h4>1</h4>
                        </div>
                        <div class="item">
                            <h4>2</h4>
                        </div>
                        <div class="item">
                            <h4>3</h4>
                        </div>
                        <div class="item">
                            <h4>4</h4>
                        </div>
                        <div class="item">
                            <h4>5</h4>
                        </div>
                        <div class="item">
                            <h4>6</h4>
                        </div>
                        <div class="item">
                            <h4>7</h4>
                        </div>
                        <div class="item">
                            <h4>8</h4>
                        </div>
                        <div class="item">
                            <h4>9</h4>
                        </div>
                        <div class="item">
                            <h4>10</h4>
                        </div>
                        <div class="item">
                            <h4>11</h4>
                        </div>
                        <div class="item">
                            <h4>12</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section-title">
                <h2 class="hvr-forward">Our <span>Latest</span> News</h2>
                <p class="hvr-forward">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incidiunt labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
                <div class="bar"></div>
            </div>

            <div class="row">
                <% news.forEach((myNew, index) => { %>
                <div class="col-lg-4 col-md-6 col-12 mt-4">
                    <div class="single-blog">
                        <div class="content">
                            <div class="image mb-2">
                                <img src="/assets/img/apps/<%= myNew.newImage %>" alt="image">
                            </div>
                            <span><%= moment(myNew.createdAt).format('MMMM Do YYYY') %></span>
                            <h3><%= myNew.newHeading %></h3>
                            <p><%= myNew.newContent.split(' ').slice(0, 15).join(' ') %>...</p>
                            <button type="button" class="btn btn-secondary hvr-pop" data-toggle="modal"
                                data-target="#readMore<%= index + 1 %>">
                                Read more
                            </button>
                            <div class="modal fade" id="readMore<%= index + 1 %>" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title"><%= myNew.newHeading %></h5>
                                        </div>
                                        <div class="modal-body">
                                            <p><%= myNew.newContent %></p>
                                            <span><%= moment(myNew.createdAt).format('MMMM Do YYYY') %></span>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
    </section>
    <!-- End Media Area -->

    <!-- Start Choose Area -->

    <!-- End Choose Area -->

    <!-- Start Footer -->
    <%- include('../partials/English/Footer') -%>
    <!-- End Footer -->

    <!-- Start Go Top Section -->
    <div class="go-top">
        <i class="bx bx-chevron-up"></i>
        <i class="bx bx-chevron-up"></i>
    </div>
    <!-- End Go Top Section -->

    <!-- Start Live Chat Support -->
    <%- include('../partials/English/LiveChatSupport') -%>
    <!-- Start Live Chat Support -->

    <%- include('../partials/ScriptTags.ejs') -%>

</body>

</html>