<!doctype html>
<html lang="en">
    <head>
        <%- include('../partials/HeadTags.ejs') -%>
    </head>

    <body>

       
        <!-- Start Preloader Area -->
        <%- include('../partials/Preloader'); -%>
        <!-- End Preloader Area -->

           <!-- Start Navbar Area -->
        <%- include('../partials/English/Header'); -%>
        <!-- End Navbar Area -->

        <!-- Start Intro Partner Area -->
        <section class="intro-partner container-fluid py-5" style="margin-top: 82px">
            <div class="overlay-intro-partner"></div>
            <div class="container py-3">
                <div class="row">
                    <div class="col-lg-5 col-md-7 col-12 wow fadeInLeft">
                        <div class="left-content bg-white shadow-lg p-3 rounded-lg" style="border-radius: 8px">
                            <h3 class="text-center" style="color: rgb(240, 59, 77)">Join Us Today!</h3>
                            <form class="partner mt-1 p-2" id="partner" action="/partner" method="POST">
                                <div class="f-partner mb-3">
                                    <input class="f-input-partner" type="text" id="fullname" name="fullname" placeholder="Type your fullname"/>
                                </div>
                                <div class="f-partner mb-3">
                                    <input class="f-input-partner" type="text" id="phone" name="phone" placeholder="Type your phone number"/>
                                </div>
                                <div class="f-partner mb-3">
                                    <input class="f-input-partner" type="email" id="email" name="email" placeholder="Type your email address"/>
                                </div>
                                <div class="f-partner mb-3">
                                    <input class="f-input-partner" type="text" id="store-name" name="store-name" placeholder="Type Store name"/>
                                </div>
                                <div class="f-partner mb-3">
                                    <input class="f-input-partner" type="url" id="store-url" name="store-url" placeholder="Type your Website/Social url"/>
                                </div>
                                <div class="f-partner mb-3">
                                    <select name="verticalType" style="width: 100%">
                                        <option value="" selected="">Choose type</option>
                                        <option value="restaurant">Restaurant</option>
                                        <option value="grocery">Grocery</option>
                                        <option value="pharmacy">Pharmacy</option>
                                        <option value="flower">Flower Shop</option><option value="other">Other</option>
                                    </select>
                                </div>
                                <div class="f-partner">
                                    <button type="submit" id="partner" class="btn btn-danger">Partner</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-5 col-12 mt-3 mt-md-0 d-md-flex align-items-md-center wow fadeInRight">
                        <div class="right-content">
                            <h1 class="text-white" style="font-size: 52px">Be Partner with TATX</h1>
                            <p style="font-size:43px; color: #f7f7f7">Reach new customers, get more sales</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Start Intro Partner Area -->
        
        <!-- Start Intro Partner Area -->
        <section class="introA-section container-fluid py-5 bg-white">
            <div class="container py-5">
                <div class="row">
                    <div class="col-md-10 mx-md-auto col-12">
                        <div class="intro text-center">
                            <h1>Benefits of being a TATX partner</h1>
                            <p style="font-size: 20px; color: #555">Whether you have a question about features, trials, pricing, need a demo, or anything else, our team is ready to answer all your questions</p>
                        </div>
                    </div>
                </div>
                <div class="row mt-3 wow fadeInUp">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-12">
                        <div class="features-content text-center hvr-grow-shadow">
                            <div class="icon">
                                <i class="flaticon-blueprint"></i>
                            </div>
                            <h3>Great Design</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-12 mt-3 mt-md-0">
                        <div class="features-content text-center hvr-grow-shadow">
                            <div class="icon">
                                <i class="flaticon-blueprint"></i>
                            </div>
                            <h3>Great Design</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-12 mt-3 mt-md-0">
                        <div class="features-content text-center hvr-grow-shadow">
                            <div class="icon">
                                <i class="flaticon-blueprint"></i>
                            </div>
                            <h3>Great Design</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Start Intro Partner Area -->

        <section class="gradient-bg1 text-center" id="clients">
            <div class="container">
        
                <!--Row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="heading-area mx-570">
                            <h2 class="title text-white m-0">Some <span class="js-rotating morphext"><span class="animated flipInX">ideal</span></span> words from
                                our Partners</h2>
                        </div>
                    </div>
                </div>
        
                <!--Row-->
                <div class="row mt-2 ">
                    <div class="col-md-6 col-12 mx-auto">
                        <div class="owl-carousel wow zoomIn owl-loaded owl-drag" id="testimonial-slider" style="visibility: visible; animation-name: zoomIn;">
                            
                        <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-5840px, 0px, 0px); transition: all 0.25s ease 0s; width: 11680px;"><div class="owl-item cloned" style="width: 730px;"><div class="item">
                                <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt
                                    egestas nunc, at pellentesque arcu sollicitudin et. Aliquam hendrerit diam quis ipsum
                                    ultricies, quis ultricies arcu suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit. Fusce ut diam quis nulla faucibus venenatis. </p>
                                <h5 class="name gradient-text1">David Villas</h5>
                                <span class="designation">Designer, Company Name</span>
                                <ul class="ratings list-unstyled">
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                </ul>
                            </div></div><div class="owl-item cloned" style="width: 730px;"><div class="item">
                                <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt
                                    egestas nunc, at pellentesque arcu sollicitudin et. Aliquam hendrerit diam quis ipsum
                                    ultricies, quis ultricies arcu suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit. Fusce ut diam quis nulla faucibus venenatis. </p>
                                <h5 class="name gradient-text1">David Villas</h5>
                                <span class="designation">Designer, Company Name</span>
                                <ul class="ratings list-unstyled">
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                </ul>
                            </div></div><div class="owl-item cloned" style="width: 730px;"><div class="item">
                                <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt
                                    egestas nunc, at pellentesque arcu sollicitudin et. Aliquam hendrerit diam quis ipsum
                                    ultricies, quis ultricies arcu suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit. Fusce ut diam quis nulla faucibus venenatis. </p>
                                <h5 class="name gradient-text1">David Villas</h5>
                                <span class="designation">Designer, Company Name</span>
                                <ul class="ratings list-unstyled">
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                </ul>
                            </div></div><div class="owl-item cloned" style="width: 730px;"><div class="item">
                                <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt
                                    egestas nunc, at pellentesque arcu sollicitudin et. Aliquam hendrerit diam quis ipsum
                                    ultricies, quis ultricies arcu suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit. Fusce ut diam quis nulla faucibus venenatis. </p>
                                <h5 class="name gradient-text1">David Villas</h5>
                                <span class="designation">Designer, Company Name</span>
                                <ul class="ratings list-unstyled">
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                </ul>
                            </div></div><div class="owl-item" style="width: 730px;"><div class="item">
                                <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt
                                    egestas nunc, at pellentesque arcu sollicitudin et. Aliquam hendrerit diam quis ipsum
                                    ultricies, quis ultricies arcu suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit. Fusce ut diam quis nulla faucibus venenatis. </p>
                                <h5 class="name gradient-text1">David Villas</h5>
                                <span class="designation">Designer, Company Name</span>
                                <ul class="ratings list-unstyled">
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                </ul>
                            </div></div><div class="owl-item" style="width: 730px;"><div class="item">
                                <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt
                                    egestas nunc, at pellentesque arcu sollicitudin et. Aliquam hendrerit diam quis ipsum
                                    ultricies, quis ultricies arcu suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit. Fusce ut diam quis nulla faucibus venenatis. </p>
                                <h5 class="name gradient-text1">David Villas</h5>
                                <span class="designation">Designer, Company Name</span>
                                <ul class="ratings list-unstyled">
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                </ul>
                            </div></div><div class="owl-item" style="width: 730px;"><div class="item">
                                <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt
                                    egestas nunc, at pellentesque arcu sollicitudin et. Aliquam hendrerit diam quis ipsum
                                    ultricies, quis ultricies arcu suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit. Fusce ut diam quis nulla faucibus venenatis. </p>
                                <h5 class="name gradient-text1">David Villas</h5>
                                <span class="designation">Designer, Company Name</span>
                                <ul class="ratings list-unstyled">
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                </ul>
                            </div></div><div class="owl-item" style="width: 730px;"><div class="item">
                                <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt
                                    egestas nunc, at pellentesque arcu sollicitudin et. Aliquam hendrerit diam quis ipsum
                                    ultricies, quis ultricies arcu suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit. Fusce ut diam quis nulla faucibus venenatis. </p>
                                <h5 class="name gradient-text1">David Villas</h5>
                                <span class="designation">Designer, Company Name</span>
                                <ul class="ratings list-unstyled">
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                </ul>
                            </div></div><div class="owl-item active" style="width: 730px;"><div class="item">
                                <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt
                                    egestas nunc, at pellentesque arcu sollicitudin et. Aliquam hendrerit diam quis ipsum
                                    ultricies, quis ultricies arcu suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit. Fusce ut diam quis nulla faucibus venenatis. </p>
                                <h5 class="name gradient-text1">David Villas</h5>
                                <span class="designation">Designer, Company Name</span>
                                <ul class="ratings list-unstyled">
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                </ul>
                            </div></div><div class="owl-item" style="width: 730px;"><div class="item">
                                <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt
                                    egestas nunc, at pellentesque arcu sollicitudin et. Aliquam hendrerit diam quis ipsum
                                    ultricies, quis ultricies arcu suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit. Fusce ut diam quis nulla faucibus venenatis. </p>
                                <h5 class="name gradient-text1">David Villas</h5>
                                <span class="designation">Designer, Company Name</span>
                                <ul class="ratings list-unstyled">
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                </ul>
                            </div></div><div class="owl-item" style="width: 730px;"><div class="item">
                                <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt
                                    egestas nunc, at pellentesque arcu sollicitudin et. Aliquam hendrerit diam quis ipsum
                                    ultricies, quis ultricies arcu suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit. Fusce ut diam quis nulla faucibus venenatis. </p>
                                <h5 class="name gradient-text1">David Villas</h5>
                                <span class="designation">Designer, Company Name</span>
                                <ul class="ratings list-unstyled">
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                </ul>
                            </div></div><div class="owl-item" style="width: 730px;"><div class="item">
                                <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt
                                    egestas nunc, at pellentesque arcu sollicitudin et. Aliquam hendrerit diam quis ipsum
                                    ultricies, quis ultricies arcu suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit. Fusce ut diam quis nulla faucibus venenatis. </p>
                                <h5 class="name gradient-text1">David Villas</h5>
                                <span class="designation">Designer, Company Name</span>
                                <ul class="ratings list-unstyled">
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                </ul>
                            </div></div><div class="owl-item cloned" style="width: 730px;"><div class="item">
                                <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt
                                    egestas nunc, at pellentesque arcu sollicitudin et. Aliquam hendrerit diam quis ipsum
                                    ultricies, quis ultricies arcu suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit. Fusce ut diam quis nulla faucibus venenatis. </p>
                                <h5 class="name gradient-text1">David Villas</h5>
                                <span class="designation">Designer, Company Name</span>
                                <ul class="ratings list-unstyled">
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                </ul>
                            </div></div><div class="owl-item cloned" style="width: 730px;"><div class="item">
                                <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt
                                    egestas nunc, at pellentesque arcu sollicitudin et. Aliquam hendrerit diam quis ipsum
                                    ultricies, quis ultricies arcu suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit. Fusce ut diam quis nulla faucibus venenatis. </p>
                                <h5 class="name gradient-text1">David Villas</h5>
                                <span class="designation">Designer, Company Name</span>
                                <ul class="ratings list-unstyled">
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                </ul>
                            </div></div><div class="owl-item cloned" style="width: 730px;"><div class="item">
                                <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt
                                    egestas nunc, at pellentesque arcu sollicitudin et. Aliquam hendrerit diam quis ipsum
                                    ultricies, quis ultricies arcu suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit. Fusce ut diam quis nulla faucibus venenatis. </p>
                                <h5 class="name gradient-text1">David Villas</h5>
                                <span class="designation">Designer, Company Name</span>
                                <ul class="ratings list-unstyled">
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                </ul>
                            </div></div><div class="owl-item cloned" style="width: 730px;"><div class="item">
                                <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt
                                    egestas nunc, at pellentesque arcu sollicitudin et. Aliquam hendrerit diam quis ipsum
                                    ultricies, quis ultricies arcu suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit. Fusce ut diam quis nulla faucibus venenatis. </p>
                                <h5 class="name gradient-text1">David Villas</h5>
                                <span class="designation">Designer, Company Name</span>
                                <ul class="ratings list-unstyled">
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fas fa-star"></i></li>
                                </ul>
                            </div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div></div>
                    </div>
                </div>
        
                <!--Testimonial Thumbs-->
                <div class="owl-dots d-none d-md-block" id="testimonials-avatar">
                    <!--data-position[top,right,bottom,left]-->
                    <button class="owl-dot" data-position="22%,auto,auto,5%" style="top: 22%; right: auto; bottom: auto; left: 5%;">
                        <img alt="image" src="/assets/img/Partner/client/avatar-1.png"></button>
                    <button class="owl-dot" data-position="30%,auto,auto,16%" style="top: 30%; right: auto; bottom: auto; left: 16%;">
                        <img alt="image" src="/assets/img/Partner/client/avatar-2.png"></button>
                    <button class="owl-dot" data-position="auto,auto,38%,7%" style="top: auto; right: auto; bottom: 38%; left: 7%;">
                        <img alt="image" src="/assets/img/Partner/client/avatar-3.png"></button>
                    <button class="owl-dot" data-position="auto,auto,23%,18%" style="top: auto; right: auto; bottom: 23%; left: 18%;">
                        <img alt="image" src="/assets/img/Partner/client/avatar-4.png"></button>
                    <!--data-position[top,right,bottom,left]-->
                    <button class="owl-dot active" data-position="20%,19%,auto,auto" style="top: 20%; right: 19%; bottom: auto; left: auto;">
                        <img alt="image" src="/assets/img/Partner/client/avatar-5.png"></button>
                    <button class="owl-dot" data-position="28%,6%,auto,auto" style="top: 28%; right: 6%; bottom: auto; left: auto;">
                        <img alt="image" src="/assets/img/Partner/client/avatar-6.png"></button>
                    <button class="owl-dot" data-position="40%,15%,auto,auto" style="top: 40%; right: 15%; bottom: auto; left: auto;">
                        <img alt="image" src="/assets/img/Partner/client/avatar-4.png"></button>
                    <button class="owl-dot" data-position="auto,21%,22%,auto" style="top: auto; right: 21%; bottom: 22%; left: auto;">
                        <img alt="image" src="/assets/img/Partner/client/avatar-3.png"></button>
                </div>
            </div>
        </section>

          <!-- Benefits of our own delivery -->
          <section class="introA-section container-fluid py-5 bg-white">
            <div class="container py-5">
                <div class="row wow fadeInLeft">
                    <div class="col-md-10 mx-md-auto col-12">
                        <div class="intro text-center">
                            <h1>Benefits of our own delivery </h1>
                            <p style="font-size: 20px; color: #555">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil fugiat distinctio quibusdam tempora quo adipisci sit consequatur nemo maiores fugit nostrum iure officiis accusamus, aliquid ex tenetur, inventore saepe voluptates?</p>
                        </div>
                    </div>
                </div>
                <div class="row mt-3 wow fadeInUp">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-12">
                        <div class="delivery-benefit hvr-bob">
                            <div class="top-delivery-content">
                                <img src="/assets/img/Partner/client/vector-art-3.png"/>
                            </div>
                            <div class="bottom-delivery-content mt-3 text-center">
                                <h3>Great Design</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-12 mt-3 mt-md-0">
                        <div class="delivery-benefit hvr-bob">
                            <div class="top-delivery-content">
                                <img src="/assets/img/Partner/client/vector-art-3.png"/>
                            </div>
                            <div class="bottom-delivery-content mt-3 text-center">
                                <h3>Great Design</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-12 mt-3 mt-md-0">
                        <div class="delivery-benefit hvr-bob">
                            <div class="top-delivery-content">
                                <img src="/assets/img/Partner/client/vector-art-3.png"/>
                            </div>
                            <div class="bottom-delivery-content mt-3 text-center">
                                <h3>Great Design</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Benefits of our own delivery -->

         <!-- How Tatx Delivery works -->
         <section class="tatx-delivery-working container-fluid py-5" style="background-color: #f7f7f7">
            <div class="container py-5">
                <div class="row wow fadeInLeft">
                    <div class="col-md-10 mx-md-auto col-12">
                        <div class="intro text-center">
                            <h1>How Tatx Delivery works? </h1>
                            <p style="font-size: 20px; color: #555">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil fugiat distinctio quibusdam tempora quo adipisci sit consequatur nemo maiores fugit nostrum iure officiis accusamus, aliquid ex tenetur, inventore saepe voluptates?</p>
                        </div>
                    </div>
                </div>
                <div class="row mt-3 wow fadeInUp">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-12">
                        <div class="delivery-benefit text-center hvr-bob bg-white p-3">
                            <div class="top-delivery-content">
                                <img src="/assets/img/HIK/order_placed.svg"/>
                            </div>
                            <div class="bottom-delivery-content mt-3">
                                <h3>Order placed</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-12 mt-3 mt-md-0">
                        <div class="delivery-benefit text-center hvr-bob bg-white p-3">
                            <div class="top-delivery-content">
                                <img src="/assets/img/HIK/prep.svg"/>
                            </div>
                            <div class="bottom-delivery-content mt-3">
                                <h3>Preparation</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-12 mt-3 mt-md-0">
                        <div class="delivery-benefit text-center hvr-bob bg-white p-3">
                            <div class="top-delivery-content">
                                <img src="/assets/img/HIK/delivered.svg"/>
                            </div>
                            <div class="bottom-delivery-content mt-3">
                                <h3>Delivered</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- How Tatx Delivery works -->


        <!-- Ready to be partner with Tatx -->
        <section class="ready-partner container-fluid py-5">
            <div class="container">
                <div class="row wow fadeIn">
                    <div class="col-12">
                        <div class="intro text-center">
                            <h1>Ready to be partner with Tatx?</h1>
                            <div class="text-center mt-2">
                                <button class="join-us btn btn-danger btn-lg">Join to US now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Ready to be partner with Tatx -->

         <!-- Start Footer -->
         <%- include('../partials/English/Footer') -%>
         <!-- End Footer -->
    
        <!-- Start Go Top Section -->
        <div class="go-top">
            <i class="bx bx-chevron-up"></i>
            <i class="bx bx-chevron-up"></i>
        </div>
        <!-- End Go Top Section -->

          <!-- Start Live Chat Support -->
          <%- include('../partials/English/LiveChatSupport') -%>
          <!-- Start Live Chat Support -->

        <%- include('../partials/ScriptTags.ejs') -%>
    </body>
</html>