<!doctype html>
<html lang="en">
    <head>
        <%- include('../partials/HeadTags.ejs') -%>
    </head>

    <body>
            
        
        <!-- Start Preloader Area -->
        <%- include('../partials/Preloader'); -%>
        <!-- End Preloader Area -->

        <!-- Start Navbar Area -->
        <%- include('../partials/English/Header'); -%>
        <!-- End Navbar Area -->

        <!-- Start Single App Page -->
          <section class="app-section container-fluid py-5" style="margin-top: 82px">
              <div class="container">
                  <div class="row">
                      <div class="col-md-10 col-12 m-auto">
                          <div class="section-head text-center">
                            <h2>TATX App Details</h2>
                            <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti nam quibusdam aut dicta quod quia pariatur, consequatur id, enim odio ducimus nemo aperiam necessitatibus cum in perferendis. Voluptates, ipsa voluptatibus.</p>
                          </div>
                      </div>
                  </div>
                  <div class="row mt-4">
                      <div class="col-12">
                        <div class="app-single bg-light p-5">
							<div class="header d-flex pb-4">
                                <div class="icon">
                                    <img src="/assets/img/apps/<%= app.app_avatar %>" class="img-fluid" alt="">
                                </div>
                                <div class="title pl-3">
                                    <h3 class="mb-0"><%= app.app_name %></h3>
                                    <p class="mb-0"><%= app.app_desc %></p>
                                    <ul class="stars d-flex mt-1">
                                        <% for(let i = 0; i < app.app_stars; i++) { %>
                                            <li><i class="fa fa-star active"></i></li>
                                        <% } %>
                                        <% for(let i = 0; i < 5 - app.app_stars; i++) { %>
                                            <li><i class="fa fa-star"></i></li>
                                        <% } %>
                                        <li>(144)</li>
                                    </ul>
                                    <div class="d-flex mt-2">
                                        <a href="<%= app.app_googleplay_link %>" target="_blank" class="btn btn-danger mr-2">Google Play <i class="fab fa-google-play"></i></a>
                                        <a href="<%= app.app_applestore_link %>" target="_blank" class="btn btn-danger">Apple Store <i class="fab fa-apple"></i></a>
                                    </div>
                                </div>
                            </div>
							<div class="item py-4">
								<div class="content">
									<h3 class="title">Screenshots</h3>
									<div class="row gallery mt-2">
										<% (app.app_screenshots).forEach((screenshot) => { %>
                                            <div class="col-lg-3 col-sm-6 col-12">
                                                <a class="gallery-item" href="/assets/img/mockup/<%= screenshot %>" title="<%= screenshot %>">
                                                    <img src="/assets/img/mockup/<%= screenshot %>" class="img-fluid" alt="<%= screenshot %>"/>
                                                </a>
                                            </div>
                                       <%  }) %>
									</div>
								</div>
							</div>
							<div class="item py-4 d-flex">
								<div class="icon">
									<i class="fas fa-history"></i>
								</div>
								<div class="content pl-3">
									<h3 class="title">Version History</h3>
									<div class="version-content">
                                        <% for (const property in app.app_history) { %>
                                            <div class="version mt-3">
                                                <h6><%= property %></h6>
                                                <ul class="mt-2">
                                                    <% app.app_history[property].forEach((item) => { %>
                                                        <li><%= item %></li>
                                                    <% }) %>
                                                </ul>
                                            </div>
                                        <% } %>
									</div>
								</div>
                            </div>
                            <div class="item pt-4">
                                <h3 class="mb-2">FAQ About This App</h3>
                                <div class="faq-accordion">
                                    <ul class="accordion">
                                        <li class="accordion-item bg-white">
                                            <a class="accordion-title active" href="javascript:void(0)">
                                                <i class='bx bx-chevron-down'></i>
                                                What access do I have on the free plan?
                                            </a>
                                    
                                            <div class="accordion-content">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                                            </div>
                                        </li>
        
                                        <li class="accordion-item bg-white">
                                            <a class="accordion-title" href="javascript:void(0)">
                                                <i class='bx bx-chevron-down'></i>
                                                What access do I have on a free trial?
                                            </a>
                                    
                                            <div class="accordion-content bg-white">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                                            </div>
                                        </li>
        
                                        <li class="accordion-item bg-white">
                                            <a class="accordion-title" href="javascript:void(0)">
                                                <i class='bx bx-chevron-down'></i>
                                                Does the price go up as my team gets larger?
                                            </a>
                                    
                                            <div class="accordion-content">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                                            </div>
                                        </li>
        
                                        <li class="accordion-item bg-white">
                                            <a class="accordion-title" href="javascript:void(0)">
                                                <i class='bx bx-chevron-down'></i>
                                                How can I cancel my subscription?
                                            </a>
                                    
                                            <div class="accordion-content bg-white">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                                            </div>
                                        </li>
        
                                        <li class="accordion-item bg-white">
                                            <a class="accordion-title" href="javascript:void(0)">
                                                <i class='bx bx-chevron-down'></i>
                                                Can I pay via an Invoice?
                                            </a>
                                    
                                            <div class="accordion-content">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
						</div>
                      </div>
                  </div>
              </div>
          </section>
        <!-- End Single App Page -->
        
       
         <!-- Start Footer -->
         <%- include('../partials/English/Footer') -%>
         <!-- End Footer -->

          <!-- Start Go Top Section -->
        <div class="go-top">
            <i class="bx bx-chevron-up"></i>
            <i class="bx bx-chevron-up"></i>
        </div>
        <!-- End Go Top Section -->

          <!-- Start Live Chat Support -->
          <%- include('../partials/English/LiveChatSupport') -%>
          <!-- Start Live Chat Support -->

        <%- include('../partials/ScriptTags.ejs') -%>
        
    </body>
</html>