<header id="headerContent" class="container-fluid headerContent appear-header <%= (page === 'Tatx'? 'pageTatx pageConst': 'bg-white o_shadow') %>">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="/">
        <img src="/assets/Images/Logo/logo.png" title="TATX always with you" width="40" height="40"
          class="d-inline-block align-top" alt=" TATX always with you">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item mt-2 mt-lg-0  <%= (page === 'Tatx'? 'spe-active': '') %>">
            <a class="nav-link " href="/">Home</a>
          </li>
          <li class="nav-item mt-2 mt-lg-0 <%= (page === 'About'? 'spe-active': '') %>">
            <a class="nav-link " href="/about">About</a>
          </li>
          <li class="nav-item mt-2 mt-lg-0  <%= (page === 'Apps'? 'spe-active': '') %>">
            <a class="nav-link " href="/apps">Apps</a>
          </li>
          <li class="nav-item mt-2 mt-lg-0  <%= (page === 'Faq'? 'spe-active': '') %>">
            <a class="nav-link " href="/faq">FAQ</a>
          </li>
          </li>
          <li class="nav-item mt-2 mt-lg-0  <%= (page === 'Contact'? 'spe-active': '') %>">
            <a class="nav-link " href="/contact">Contact</a>
          </li>
          <li class="nav-item mt-2 mt-lg-0 mr-lg-2 <%= (page === 'Admin'? 'spe-active': '') %>">
            <a class="nav-link" href="/admin">Admin</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item mt-2 mt-lg-0 mr-lg-2 <%= (page === 'Partner'? 'spe-active': '') %>">
            <a class="nav-link" href="/partner">Be Partner</a>
          </li>
          <li class="nav-item mt-2 mt-lg-0">
            <form method="POST" action="/ar">
              <button type="submit" class="nav-link ">العربية <i class="fas fa-globe"></i></button>
            </form>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>